# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: U.K. Indicators For The Sustainable Development Goals
description: Data Platform Prototype
baseurl: "/sdg-indicators" # the subpath of your site, e.g. /blog
url: ""
data_dir: data
environment: staging

remote_data_prefix: "http://sdgdev-813006012.eu-west-1.elb.amazonaws.com/data/jw-translated-page-titles-data"

create_indicators:
  layout: indicator
create_goals:
  layout: goal-by-target-vertical
create_pages:
  pages:
    - folder: /
      layout: frontpage-alt
    - folder: /goals
      layout: goals
    - folder: /reporting-status
      layout: reportingstatus
    - filename: indicators.json
      folder: /
      layout: indicator-json
    - folder: /search
      layout: search
      
# Social media accounts.
twitter: 'ONS'

# Email accounts
email_contacts:
  questions: sustainabledevelopment@ons.gov.uk
  suggestions: sustainabledevelopment@ons.gov.uk
  functional: sustainabledevelopment@ons.gov.uk

# Github Repo for Data
repo_name: sdg-data
branch: develop
org_name: ONSdigital

# Build settings
markdown: kramdown

# Date format
date_formats:
  standard:
    en: "%d %B %Y"
    
# Travis Support
exclude: [vendor, scripts, remotedata]

# International Support
# Eg name: Australia and adjective: Australian
country:
  name: UK
  adjective: UK
  
# Extra search fields
search_index_extra_fields:
  - data_keywords

# Pages
collections:
  pages:
    output: true
    permalink: /:path/
  posts:
    output: true
    permalink: /updates/:year/:month/:day/:title.html
  indicators:
    output: true
  goals:
    output: true

# The list of languages that are translated. The first one is the default.
languages:
  - en

goal_image_base: https://open-sdg.github.io/sdg-translations/assets/img/goals

# Header Menu
menu:
  # Use these to customise the main navigation.
  - path: /goals
    translation_key: general.goals
  - path: /reporting-status/
    translation_key: menu.reporting_status
  - path: /about/
    translation_key: menu.about
  - path: /publications/
    translation_key: menu.publications
  - path: /faq/
    translation_key: menu.faq
  - path: /updates/
    translation_key: menu.updates

# Footer Menu
footer_menu:
  - path: mailto:sustainabledevelopment@ons.gov.uk
    translation_key: menu.contact_us
  - path: https://twitter.com/ONS
    translation_key: general.twitter
  - path: /about/cookies-and-privacy/
    translation_key: menu.cookies
  - path: /accessibility-statement/
    translation_key: Accessibility statement

# This makes sure that all pages have a language.
defaults:
  -
    scope:
      path: ""
    values:
      language: "en"

plugins:
  - jekyll-remote-theme
  - jekyll-open-sdg-plugins

remote_theme: brockfanning/open-sdg@translated-page-titles

# Apply any custom Javascript.
custom_js:
  - /assets/js/custom.js
  
# Apply any custom css
custom_css:
  - /assets/css/custom.css

contrast_type: long

search_index_extra_fields:
  - indicator_available
  - graph_title
  - data_keywords


# Mapping
map_options:
  tileURL: https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}
  tileOptions:
    id: mapbox.light
    accessToken: pk.eyJ1IjoibHVjeWphbmVnd2lsbCIsImEiOiJjazAyZ2phaGMwajhzM2hxb2czZmdrZ2szIn0.tcj-n08CcU-7tKXFqB-WuQ
    attribution: <a href="https://www.mapbox.com">Mapbox</a> | <a href="http://geoportal.statistics.gov.uk/">ONS</a>
  minZoom: 4
  
map_layers:
  - min_zoom: 4
    max_zoom: 6
    staticBorders: true
    subfolder: country
    label: Country
  - min_zoom: 6
    max_zoom: 8
    staticBorders: true
    subfolder: regions
    label: Regions
  - min_zoom: 9
    max_zoom: 12
    staticBorders: true
    subfolder: local_authorities
    label: Local Authorities

survey_url: https://www.surveymonkey.co.uk/r/XFJZGVL

goals_page:
    title: UK data for the Sustainable Development Goals
    description: Click on each goal for UK Sustainable Development Goal global indicator data.

reporting_status:
    description: An overview of how much data the UK reports for Sustainable Development Goal global indicators.

frontpage_introduction_banner:
  title: 17 goals to transform our world
  description: <a href="https://www.un.org/sustainabledevelopment/sustainable-development-goals/">The Sustainable Development Goals (SDGs)</a> are a universal call to action to end poverty, protect the planet and improve the lives and prospects of everyone, everywhere. The 17 Goals were adopted by all UN Member States in 2015, as part of the <a href="http://www.un.org/ga/search/view_doc.asp?symbol=A/RES/70/1&Lang=E">2030 Agenda for Sustainable Development</a>.


# This controls the text that appears above the goals grid.
frontpage_goals_grid:
  title: UK data for the Sustainable Development Goals
  description: Click on each goal for UK Sustainable Development Goal global indicator data.


# This controls the three-column "cards" that appear below the goals grid.
frontpage_cards:
  - title: Download all data
    # This "feature" is used for baked-in stuff like "bulk_download".
    include: components/download-all-data.html
    # Optionally control the color of the line above the card title.
  - title: Publications
    content: |
    
      [SDGs in the UK: Progress on monitoring and reporting data](https://www.ons.gov.uk/economy/environmentalaccounts/articles/sustainabledevelopmentgoalstakingstockprogressandpossibilities/november2019)
      
      [UK SDG Voluntary National Review](https://www.gov.uk/government/publications/uks-voluntary-national-review-of-the-sustainable-development-goals)
      <br/><br/>
      <a href="./publications" aria-label="More publications">More publications...</a>
  - title: Useful resources
    # Control the content of the card - can use Markdown.
    content: |
    
      [The Global Goals](https://www.globalgoals.org/)
      
      [Implementing the Sustainable Development Goals](https://www.gov.uk/government/publications/implementing-the-sustainable-development-goals/implementing-the-sustainable-development-goals--2)
      
      [UN Department of Economic and Social Affairs](https://sustainabledevelopment.un.org/)
