# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
baseurl: "" # the subpath of your site, e.g. /blog
environment: production
remote_data_prefix: "https://sustainabledevelopment-uk.github.io/sdg-data"
remote_translations:
  - 'https://open-sdg.github.io/sdg-translations/translations-0.8.0.json'

analytics:
  ga_prod: 'UA-108503280-1'
