# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: U.K. Indicators For The Sustainable Development Goals
description: Data Platform Prototype
baseurl: "/sdg-indicators" # the subpath of your site, e.g. /blog
url: ""
data_dir: data
environment: staging
remotedatabaseurl: "https://sdg.mango-solutions.com/data/17-18-2"
# permalink: /news/:year/:month/:day/:title.html


jekyll_get_json:
  - data: meta
    json: 'https://sdg.mango-solutions.com/data/17-18-2/meta/all.json'
    # cache: true
    # directory: 'remotedata'
  - data: headlines
    json: 'https://sdg.mango-solutions.com/data/17-18-2/headline/all.json'
    # cache: true
    # directory: 'remotedata'
  - data: schema
    json: 'https://sdg.mango-solutions.com/data/17-18-2/meta/schema.json'
  - data: translations
    # Pin to version of the translation repo
    json: 'https://open-sdg.github.io/sdg-translations/translations-0.3.2.json'

analytics:
  ga_prod: ''

# Social media accounts.
twitter: 'ONS'


###################################################################################################
email_contacts:
  questions: sustainabledevelopment@ons.gov.uk
  suggestions: sustainabledevelopment@ons.gov.uk
  functional: sustainabledevelopment@ons.gov.uk
###################################################################################################

# Github Repo for Data
repo_name: sdg-data
branch: develop
org_name: ONSdigital

# Build settings
markdown: kramdown

# Travis Support
exclude: [vendor, scripts, remotedata]

# International Support
# Eg name: Australia and adjective: Australian
country:
  name: UK
  adjective: UK

# Pages
collections:
  pages:
    output: true
    permalink: /:path/
  posts:
    output: true
    permalink: /news/:year/:month/:day/:title.html
  indicators:
    output: true
  goals:
    output: true

# The list of languages that are translated. The first one is the default.
languages:
  - en

# Menu
menu:
  # Use these to customise the main navigation.
  - path: /
    translation_key: general.goals
  - path: /reporting-status/
    translation_key: menu.reporting_status
  - path: /about/
    translation_key: menu.about
  - path: /publications/
    translation_key: menu.publications
  - path: /guidance/
    translation_key: menu.guidance
  - path: /faq/
    translation_key: menu.faq

# This makes sure that all pages have a language.
defaults:
  -
    scope:
      path: ""
    values:
      language: "en"

plugins:
  - jekyll-remote-theme
  - jekyll-open-sdg-plugins
  - jekyll-get-json

remote_theme: open-sdg/open-sdg@0.3.1

# Mapping
map_options:
  tileURL: https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}
  tileOptions:
    id: mapbox.light
    accessToken: pk.eyJ1IjoiYnJvY2tmYW5uaW5nMSIsImEiOiJjaXplbmgzczgyMmRtMnZxbzlmbGJmdW9pIn0.LU-BYMX69uu3eGgk0Imibg
    attribution: <a href="https://www.mapbox.com">Mapbox</a> | <a href="http://geoportal.statistics.gov.uk/">ONS</a>
  minZoom: 6
map_layers:
  #Country
  #- min_zoom: 5
    #max_zoom: 10
    #serviceUrl: https://geoportal1-ons.opendata.arcgis.com/datasets/c362832ce5d14728a6fb2b079525be0b_4.geojson
    #nameProperty: ctry17nm
    #idProperty: ctry17cd
    #staticBorders: true
    # link: https://hub.arcgis.com/datasets/c362832ce5d14728a6fb2b079525be0b_4/data
  #Region
  - min_zoom: 5
    max_zoom: 10
    serviceUrl: https://geoportal1-ons.opendata.arcgis.com/datasets/4fcca2a47fed4bfaa1793015a18537ac_4.geojson
    nameProperty: rgn17nm
    idProperty: rgn17cd
    staticBorders: true
    # link: https://hub.arcgis.com/datasets/4fcca2a47fed4bfaa1793015a18537ac_4
  #Local Authority
  - min_zoom: 6
    max_zoom: 10
    serviceUrl: https://geoportal1-ons.opendata.arcgis.com/datasets/686603e943f948acaa13fb5d2b0f1275_4.geojson
    nameProperty: lad16nm
    idProperty: lad16cd
    staticBorders: false
    # link: https://hub.arcgis.com/datasets/686603e943f948acaa13fb5d2b0f1275_4
  #County
  #- min_zoom: 8
    #max_zoom: 9
    #serviceUrl: https://geoportal1-ons.opendata.arcgis.com/datasets/b7507e654334481e8e0787f42c9028c1_3.geojson
    #nameProperty: cty18nm
    #idProperty: cty18cd
    # link: https://hub.arcgis.com/datasets/b7507e654334481e8e0787f42c9028c1_3
  
