<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Mobile Specific Metas
        ================================================== -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Title and meta description
        ================================================== -->
        <title>Search - U.K. Indicators For The Sustainable Development Goals</title>
        <meta property="og:title" content="U.S. Data Federation">
        <meta name="description" content="">
        <meta property="og:description" content="">
        <link rel="canonical" href="/">

        

        <!-- Favicons ================================================== -->
        <!-- 128x128 -->
        <link rel="shortcut icon" type="image/ico" href="/sdg-indicators/assets/img/favicons/favicon.ico">
        <link rel="icon" type="image/png" href="/sdg-indicators/assets/img/favicons/favicon.png"><!-- 192x192, as recommended for Android
        http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
        -->

        

        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/sdg-indicators/assets/css/default.css?v=20171020235413">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
<body>
<!-- <div class="container"> -->

<a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">Skip to main content</a>
<div id="disclaimer">
  <div class="container">
  <div class="alert alert-danger" role="alert">
    <strong class="phase-tag">Alpha</strong> This is a development website and data may be test data. We welcome your
    <a href="mailto:sustainabledevelopment@ons.gov.uk">feedback</a>.
  </div>
</div>
</div>

<header role="banner">
  <div class="container">

    <a class="navbar-brand" href="/sdg-indicators/" id="home">
      <img src="/sdg-indicators/assets/img/SDG_logo.png" alt="Sustainable Development Goals - 17 Goals to Transform our World" />
    </a>

    <nav class="navbar navbar-default" id="main-nav">

      <ul class="top-level">
        <li><span data-target="menu">Menu</span></li>
        <li><span data-target="search">Search</span></li>
      </ul>

      <ul class="nav navbar-nav menu-target" id="menu">
        <li class="nav-link active" >
          <a href="/sdg-indicators/">Goals</a>
        </li>
        <li class="nav-link" >
          <a href="/sdg-indicators/reporting-status">Reporting Status</a>
        </li>
        <li class="nav-link" >
          <a href="/sdg-indicators/about">About</a>
        </li>
<!--        <li class="nav-link" >
          <a href="/sdg-indicators/news">News &amp; Events</a>
        </li> -->
      </ul>


    </nav>
  </div>

</header>
<div id="main-content" class="container search-results" role="main">
  <div class="loader">
  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 25 25"
      to="360 25 25"
      dur="0.6s"
      repeatCount="indefinite"/>
    </path>
  </svg>
</div>

  <h1 style="display:none">Search results for '<span id="search-term"></span>'</h1>
  <div class="results" data-imgpath="/sdg-indicators/assets/img/goals/">
  </div>
</div>

<script type="text/template" class="results">

  <% if(resultsCount) { %>
    <p><%= resultsCount %> indicator<% if(resultsCount != 1) { %>s<% } %> found in <%= searchResults.length %> goal<% if(searchResults.length != 1) { %>s<% } %></p>

    <% _.each(searchResults, function(goal){ %>
      <div class="row">
        <div class="col col-xs-12">
          <h4>Goal <%= goal.goalId %> - <%= goal.goalTitle %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-3 col-md-2">
          <img src="<%= imgPath%><%= goal.goalId%>.png" />
        </div>
        <div class="col col-xs-9 col-md-10">
          <ul>
            <% _.each(goal.indicators, function(indicator){ %>
              <li>
                Indicator <%= indicator.id %> - <a href="<%=indicator.href%>"><%=indicator.parsedTitle%></a>
              </li>
            <% }); %>
          </ul>
        </div>
      </div>
    <% }); %>

  <% } else { %>
    <p>No results</p>
  <% } %>

</script>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<!-- <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script> -->
<!-- Google Analytics -->

<!-- /.container </div> -->
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script src='/sdg-indicators/assets/js/sdg.js?v=20171020235413'></script>
<script>
$(function() {
    $(window).scroll(function() {
        if ($(".navbar").offset().top > 50) {
            $("#main-nav").addClass("collapsed");
        } else {
            $("#main-nav").removeClass("collapsed");
        }
    });

    $('#metadata .collapsible h3').click(function() {
      var $container = $(this).closest('div'),
          $article = $(this).next('article'),
          $span = $(this).find('span');

      $article.slideToggle(function() {
        if($container.hasClass('expanded')) {
          $container.removeClass('expanded');
          $container.addClass('collapsed');
          $span.html(' (Expand)');
        } else {
          $container.removeClass('collapsed');
          $container.addClass('expanded');
          $span.html(' (Collapse)');
        }
      });
    });

    if($('#indicatorData').length) {
      var model = new indicatorModel({
        data: $('#indicatorData').data('indicatordata'),
        country: $('#indicatorData').data('country'),
        indicatorId: $('#indicatorData').data('indicatorid'),
        chartTitle: $('#indicatorData').data('charttitle'),
        measurementUnit: $('#indicatorData').data('measurementunit'),
        dataSource: $('#indicatorData').data('datasource'),
        geographicalArea: $('#indicatorData').data('geographicalarea'),
        showData: $('#indicatorData').data('showdata')
      }),
      view  = new indicatorView(model, {
        rootElement: '#indicatorData',
        maxChartHeight: 600
      }),
      controller = new indicatorController(model, view);
      controller.initialise();
    }

    
});
</script>

</body>
</html>

