<a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">Skip to main content</a>
<div id="disclaimer">
  {% include components/dev-disclaimer.html %}
</div>

<header role="banner">
  <div class="container">

    <a class="navbar-brand" href="{{ site.baseurl }}/" id="home">
      <img src="{{ site.baseurl }}/assets/img/SDG_logo.png" alt="Sustainable Development Goals Logo" />
    </a>

    <nav class="navbar navbar-default" id="main-nav">

      <ul class="top-level">
        <li><a href="#" data-target="menu">Menu</a></li>
        <li><a href="#" data-target="search">Search</a></li>
      </ul>

      <ul class="nav navbar-nav menu-target" id="menu">
        <li {% if page.permalink contains "/reporting-status/" or page.permalink contains "/news" or page.layout=="post" %}class="nav-link"
          {% else %}class="nav-link active" {% endif %}>
          <a href="{{ site.baseurl }}/">Goals</a>
        </li>
        <li {% if page.permalink=="/reporting-status/" %}class="nav-link active" {% else %}class="nav-link" {% endif %}>
          <a href="{{ site.baseurl }}/reporting-status">Reporting Status</a>
        </li>
        <li {% if page.permalink contains "/news" or page.layout=="post" %}class="nav-link active" {% else %}class="nav-link" {%
          endif %}>
          <a href="{{ site.baseurl }}/news">News &amp; Events</a>
        </li>
      </ul>

      {% include search.html %} 

    </nav>
  </div>

</header>