<script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/chartist.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/chartist-plugin-accessibility.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/chartist-plugin-tooltip.min.js"></script>
<!-- <script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.min.js"></script> -->
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.csv.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.dataTables.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/dataTables.bootstrap.js"></script>
<script src='{{ site.baseurl }}/assets/js/vendor/csv_to_html_table.js'></script>