<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script src='{{ site.baseurl }}/assets/js/csvToHtmlTable.js'></script>
<script>
// $(function() {
//     if($('.goal-indicators').length) {
//         var elementHeights = $('.goal-indicators li').map(function() {
//             return $(this).height() + 15;
//         }).get();
//         // Math.max takes a variable number of arguments
//         // `apply` is equivalent to passing each height as an argument
//         var maxHeight = Math.max.apply(null, elementHeights);
//         // Set each height to the max height
//         $('.goal-indicators li').height(maxHeight);
//     }
// });
// $(function() {
//     $(window).scroll(function () {
//         if ($(this).scrollTop() > 50) {
//             $('#back-to-top').fadeIn();
//         } else {
//             $('#back-to-top').fadeOut();
//         }
//     });
    
//     // scroll body to 0px on click
//     $('#back-to-top').click(function () {
//         $('body,html').animate({
//             scrollTop: 0
//         }, 250);
//         return false;
//     });
// });

$(function() {
    // Initialize affix and add an offset to add affix class on scroll
    // $('#main-nav').affix({
    //   offset: {
    //     top: 100
    //   }
    // })

    $(window).scroll(function() {
        if ($(".navbar").offset().top > 50) {
            $("#main-nav").addClass("collapsed");
            console.log('test');
        } else {
            $("#main-nav").removeClass("collapsed");
        }
    });



});

</script>
