<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Mobile Specific Metas
        ================================================== -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Title and meta description
        ================================================== -->
        
        
        <title>
        Indicator 17.1.1 - Goal  - No Poverty
        </title>
        <meta name="description" content="">
        <meta property="og:description" content="">
        
        <meta name="robots" content="noindex, nofollow">
        
        <link rel="canonical" href="/">

        

        <!--[if IE 9]>
        <script src="/sdg-indicators/assets/js/lib/classList.js"></script>
        <![endif]-->
        
        <!-- Favicons ================================================== -->
        <!-- 128x128 -->
        <link rel="shortcut icon" type="image/ico" href="/sdg-indicators/assets/img/favicons/favicon.ico">
        <link rel="icon" type="image/png" href="/sdg-indicators/assets/img/favicons/favicon.png"><!-- 192x192, as recommended for Android
        http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
        -->

        

        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.3/css/fixedColumns.dataTables.min.css">
        <link rel="stylesheet" href="/sdg-indicators/assets/css/default.css?v=20181007171533">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
<body>
<!-- <div class="container"> -->

<a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">Skip to main content</a>
<div id="disclaimer">
  <div class="container">
  <div class="alert alert-danger" role="alert">
    <strong class="phase-tag">Alpha</strong> This is a development website. We welcome your
    <a href="mailto:sustainabledevelopment@ons.gov.uk">feedback</a>.
  </div>
</div>
</div>

<header role="banner">
  <div class="container">

    <a class="navbar-brand" href="/sdg-indicators/" id="home">
      <img src="/sdg-indicators/assets/img/SDG_logo.png" alt="Sustainable Development Goals - 17 Goals to Transform our World" />
    </a>

  <div class='hidden visible-xs float-right'>
    <ul id='accessibility-nav' class='contrast-switcher'></ul>
  </div>

    <nav class="navbar navbar-default" id="main-nav">

      <ul class="top-level">
        <li><span data-target="menu">Menu</span></li>
        <li><span data-target="search">Search</span></li>
      </ul>

      <ul class="nav navbar-nav menu-target contrast-switcher" id="menu">
        <li class="nav-link active" >
          <a href="/sdg-indicators/">Goals</a>
        </li>
        <li class="nav-link" >
          <a href="/sdg-indicators/reporting-status">Reporting Status</a>
        </li>
        <li class="nav-link" >
          <a href="/sdg-indicators/about">About</a>
        <li class="nav-link" >
            <a href="/sdg-indicators/publications">Publications</a>
        </li>
        <li class="nav-link" >
          <a href="/sdg-indicators/guidance">Guidance</a>
        </li>
        <li class="nav-link" >
          <a href="/sdg-indicators/faq">FAQ</a>
        </li>
<!--        <li class="nav-link" >
          <a href="/sdg-indicators/news">News &amp; Events</a>
        </li> -->
      </ul>


    </nav>
  </div>

</header>

<script type="text/template" id="item_template">
  <% _.each(series, function(seriesItem) { %>
    <div class="variable-selector<% if(allowedFields.indexOf(seriesItem.field) == -1) { %> disallowed child<% }%>" data-field="<%=seriesItem.field%>">
      <button class='accessBtn' tabindex='0'><h5><%=seriesItem.field%><i class="fa fa-chevron-down"></i></h5></button>
      <div class="bar">
        <div class="selected"></div>
      </div>
      <div class="variable-options">
        <div>
          <button data-type="select">Select all</button>
          <button data-type="clear">Clear all</button>
        </div>
        <% _.each(seriesItem.values, function(item) { %>
          <label><input type="checkbox" value="<%=item.value%>" data-field="<%=seriesItem.field%>" /><%=item.value%></label>
        <% }); %>
      </div>
      
      <% if(allowedFields.indexOf(seriesItem.field) == -1) { %> 
        <div class="variable-hint">
          Available when '<%= _.findWhere(edges, { To: seriesItem.field }).From %>' is selected
        </div>
        <div class="no-data-hint">
          No options available because of filters above
        </div>
      <% }%>

    </div>
  <% }); %>
</script>

<script type="text/template" id="units_template">
  <% if(units.length) { %>
    <h5>Units type</h5>
    <% _.each(units, function(unitsItem, index) { %>
      <label><input type="radio" name="unit" value="<%=unitsItem%>" tabindex=0 <% if(!index) { %>checked="checked"<% } %> /> <%=unitsItem%></label>
    <% }); %>
  <% } %>
</script>
























<div class="heading indicator goal-17">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <a href="/sdg-indicators/partnerships-for-the-goals" title="View this goal's indicator list">
          <img src="/sdg-indicators/assets/img/goals/17.png" alt="Partnerships for the goals - Goal " />
        </a>
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h1>
          <a href="/sdg-indicators/partnerships-for-the-goals">
            <span class="hidden-sm hidden-md hidden-lg">Goal 17: </span>Total government revenue as a proportion of GDP, by source
          </a>
        </h1>
        <h2>Indicator 17.1.1: Total government revenue as a proportion of GDP, by source</h2>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-17">
  <ol class="breadcrumb">
  <li><a href="/sdg-indicators/">Home</a></li>
  
      <li><a href="/sdg-indicators/partnerships-for-the-goals" title="Strengthen the means of implementation and revitalize the global partnership for sustainable development">Goal </a></li>
      <li class="active">Indicator 17.1.1</li>
  
</ol>
  
  <div class="row" id="page-content-row">
    <div class="col-xs-12">
      <div id="page-content">
        <p>Data follows the UN specification for this indicator and has been indentified in collaboration with topic experts.</p>

<p>The Sustainable Development Goals is a collaborative project, if you have any feedback or suggestions for data please contact us at <a href="mailto:SustainableDevelopment@ons.gov.uk">SustainableDevelopment@ons.gov.uk</a></p>


      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <h2>Total government revenue as a percentage of GDP, by source</h2>
    </div>
  </div>
  
  <div class="row" id="indicatorData" data-indicatorid='indicator_17-1-1' data-id="17-1-1" data-country="United Kingdom"
  data-charttitle="Total government revenue as a percentage of GDP, by source" data-measurementunit="Percentage (%)" data-datasource="Office for National Statistics (ONS)" data-geographicalarea="United Kingdom" data-footnote="" data-showdata="true" data-graphtype="line" data-geocoderegex="" data-showmap="">
    
    <div class="col-md-3">
      <div id="toolbar">
        <span id="series-help">
          <h4>Sub-categories</h4>
          <p>Choose categories from the dropdowns below to see different breakdowns of the data. Some will not be available until a higher level is chosen.</p>
        </span>
        <p>Click on the legend to remove individual lines from the chart.</p>
        <div id="fields">
          <p class="async-loading" data-img="/sdg-indicators/assets/img/loading-small.gif"></p>
        </div>
      </div>
      <div id="units"></div>
    </div>
    <div class="col-md-9">
    
      
      
       
 

<div id="headlineTable">
  
  <div id="datatables">
    
    <a href="https://ONSdigital.github.io/sdg-data/headline/17-1-1.csv" class="btn btn-primary btn-download" download="indicator_17-1-1.csv" tabindex="0" role="button">Download Headline CSV</a>
    
    <a href="https://ONSdigital.github.io/sdg-data/data/17-1-1.csv" class="btn btn-primary btn-download" style='float:left;margin-right:1em' download='indicator_17-1-1.csv' tabindex='0' role='button'>Download Source CSV</a>
    
    <h3>Headline data</h3>
    <table class="table-responsive table table-hover dataTable no-footer" role="grid">
      <caption></caption>
      <thead>
        
        
        <th scope="col">Year</th>
        
        
        
        <th scope="col" class="table-value">Value</th>
        
        
      </thead>
      <tbody>
        
        <tr>
          
          
          <td>2000.0</td>    
          
          
          
          <td class="table-value">31.78556731</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2001.0</td>    
          
          
          
          <td class="table-value">32.4205318</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2002.0</td>    
          
          
          
          <td class="table-value">32.50354772</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2003.0</td>    
          
          
          
          <td class="table-value">33.51760905</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2004.0</td>    
          
          
          
          <td class="table-value">35.635812</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2005.0</td>    
          
          
          
          <td class="table-value">37.22038838</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2006.0</td>    
          
          
          
          <td class="table-value">38.73533463</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2007.0</td>    
          
          
          
          <td class="table-value">39.84140161</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2008.0</td>    
          
          
          
          <td class="table-value">42.00316027</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2009.0</td>    
          
          
          
          <td class="table-value">41.4148761</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2010.0</td>    
          
          
          
          <td class="table-value">43.14418751</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2011.0</td>    
          
          
          
          <td class="table-value">43.82509957</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2012.0</td>    
          
          
          
          <td class="table-value">44.27589107</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2013.0</td>    
          
          
          
          <td class="table-value">44.61862348</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2014.0</td>    
          
          
          
          <td class="table-value">44.17874506</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2015.0</td>    
          
          
          
          <td class="table-value">44.47760593</td>
          
          
        </tr>
        
        <tr>
          
          
          <td>2016.0</td>    
          
          
          
          <td class="table-value">45.19891024</td>
          
          
        </tr>
        
      </tbody>
    </table>
  </div>
  
  <div id="datatableFooter">
    
    
    
    
  </div>
  
</div>
      

      <section>
        
        
        <p class="async-loading" data-img="/sdg-indicators/assets/img/loading-small.gif"></p>
        <div class="async-loaded" style="display:none">
          <ul class="nav nav-tabs data-view" role="tablist">
            <li role="presentation" class="nav-item active">
              <a class="nav-link" data-toggle="tab" href="#chartview" aria-controls="chartview" role="tab">Chart</a>
            </li>
            <li role="presentation" class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tableview" aria-controls="tableview" role="tab">Table</a>
            </li>
            <li role="presentation" class="nav-item map" style="display:none">
              <a class="nav-link" data-toggle="tab" href="#mapview" aria-controls="mapview" role="tab">Map</a>
            </li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content data-view">
            <div role="tabpanel" class="tab-pane active" id="chartview">
              
    
    

    <div id="dataset-size-warning" style="display:none">
      <i class="fa fa-bolt"></i> There are too many datasets to show on the chart. Not all will be shown until you remove some selections.
    </div>

    
    <div class="plot-container">
        
<canvas></canvas>
    </div>
    <div id="plotLegend"></div>

    <div id="chartSelectionDownload"></div>    
    


            </div>
            <div role="tabpanel" class="tab-pane" id="tableview">
              <div id="selectionsTable"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mapview" class="map">
                  
                  <div id="map">
                    <img src="/sdg-indicators/assets/img/loading.gif" alt="Loading map" />
                  </div>
                  
            </div>
          </div>
        </div> 
        
               
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#metadata" aria-controls="metadata" role="tab">National Metadata</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#globalmetadata" aria-controls="globalmetadata" role="tab">Global Metadata</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sources" aria-controls="sources" role="tab">Sources</a>
          </li>
          
          <li role="presentation" class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#edit" aria-controls="edit" role="tab">Edit</a>
          </li>
          
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="metadata">
            <!-- National Metadata -->
            <div > <!-- formerly class="collapsible expanded" -->
              <!-- <h3 tabindex='0'>National Metadata</h3> -->
              <article>
                <p>This table provides metadata for the actual indicator available from UK statistics closest to the corresponding global
                  SDG indicator. Please note that even when the global SDG indicator is fully available from UK statistics, this table
                  should be consulted for information on national methodology and other UK-specific metadata information.</p>
                  <table class="table table-hover">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
      <tr>
        <th scope="row">Indicator available </th>
        <td>
          
            Total government revenue as a percentage of GDP, by source
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Indicator description </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Geographical coverage </th>
        <td>
          
            United Kingdom
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Unit of measurement </th>
        <td>
          
            Percentage (%)
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Definitions </th>
        <td>
          
            In the OECD classification the term “taxes” is defined as compulsory unrequited payments to general government. The definition of government follows that of the 2008 System of National Accounts (SNA). As disagregations of general government, central government here refers to the government of the United Kingdom and local government refers, collectivly, to the administration of counties or districts, with representatives elected by those who live there.
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Calculations </th>
        <td>
          
            (Central, Local or Total government revenue / GDP) * 100
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Other information </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Data last updated </th>
        <td>
          
            
            
            
            

            
              <a href="https://github.com/ONSdigital/sdg-data/commit/b2473012c82a31d012c63daf863cb9ea7e248704" target="_blank">
                2017-11-02: see changes on GitHub <span class="visuallyhidden">opens in a new window</span>
              </a>
            
            
          
        </td>
        </tr>
        
      
  
    
      
      
  
    
      
      <tr>
        <th scope="row">Metadata last updated </th>
        <td>
          
            
            
            
            

            
              <a href="https://github.com/ONSdigital/sdg-data/commit/7c9a69273047abc027c9fcac97a7001165413259" target="_blank">
                2018-08-02: see changes on GitHub <span class="visuallyhidden">opens in a new window</span>
              </a>
            
            
          
        </td>
        </tr>
        
      
  
    
      
      
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</table>

              </article>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="globalmetadata">
            <!-- Global Metadata -->
            <div> <!-- formerly <div class="collapsible expanded"> -->
              <!-- <h3 tabindex='0'>Global Metadata</h3> -->
              <article>
                <p>This table provides information on metadata for SDG indicators as defined by the UN Statistical Commission. <a href="https://unstats.un.org/sdgs/metadata/">Complete global metadata</a> is provided by the UN Statistics Division.</p>
                <table class="table table-hover">
  
    
  
    
  
    
  
    
  
    
      
      <tr>
        <th scope="row">Indicator name </th>
        <td>
          
            Total government revenue as a proportion of GDP, by source
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Indicator number </th>
        <td>
          
            17.1.1
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Indicator display order (within Goal page) </th>
        <td>
          
            0010
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Target name </th>
        <td>
          
            Strengthen domestic resource mobilization, including through international support to developing countries, to improve domestic capacity for tax and other revenue collection
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Target number </th>
        <td>
          
            17.1
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Global indicator description </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">UN designated tier </th>
        <td>
          
            1
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">UN custodian agency </th>
        <td>
          
            International Monetary Fund (IMF)
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Link to UN metadata </th>
        <td>
          
            
            
            
            

            
              <a href="https://unstats.un.org/sdgs/files/metadata-compilation/Metadata-Goal-17.pdf" target="_blank">
                United Nations Sustainable Development Goals Metadata (PDF 469 KB) <span class="visuallyhidden">opens in a new window</span>
              </a>
            
            
          
        </td>
        </tr>
        
      
  
    
      
      
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</table>

              </article>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="sources">
            <!-- Count the non-empty sources (up to 5) -->




  <div class="row no-gutters">
  
   
    
    <div class="col-md-6">
      
        <h4>Source 1</h4>
      
      <table class="table table-hover">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
      <tr>
        <th scope="row">Organisation </th>
        <td>
          
            Office for National Statistics (ONS)
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Periodicity </th>
        <td>
          
            Quarterly
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Earliest available data </th>
        <td>
          
            1990
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Geographical coverage </th>
        <td>
          
            United Kingdom
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Link to data source </th>
        <td>
          
            
            
            
            

            
              <a href="https://www.ons.gov.uk/economy/governmentpublicsectorandtaxes/publicsectorfinance/datasets/publicsectorfinancesappendixatables110" target="_blank">
                Public sector finances tables 1 to 10: Appendix A <span class="visuallyhidden">opens in a new window</span>
              </a>
            
            
          
        </td>
        </tr>
        
      
  
    
      
      
  
    
      
      <tr>
        <th scope="row">Release date </th>
        <td>
          
            21-12-2017
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Next release </th>
        <td>
          
            23-01-2018
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Statistical classification </th>
        <td>
          
            National Statistic
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Contact details </th>
        <td>
          
            Fraser Munro, fraser.munro@ons.gsi.gov.uk, Telephone +44 (0)1633 456402
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Other information </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</table>

    </div>
    
   
    
    <div class="col-md-6">
      
        <h4>Source 2</h4>
      
      <table class="table table-hover">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
      <tr>
        <th scope="row">Organisation </th>
        <td>
          
            Office for National Statistics (ONS)
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Periodicity </th>
        <td>
          
            Quarterly
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Earliest available data </th>
        <td>
          
            1955
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Geographical coverage </th>
        <td>
          
            United Kingdom
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Link to data source </th>
        <td>
          
            
            
            
            

            
              <a href="https://www.ons.gov.uk/economy/grossdomesticproductgdp" target="_blank">
                Gross Domestic Product (GDP) <span class="visuallyhidden">opens in a new window</span>
              </a>
            
            
          
        </td>
        </tr>
        
      
  
    
      
      
  
    
      
      <tr>
        <th scope="row">Release date </th>
        <td>
          
            23-11-2017
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Next release </th>
        <td>
          
            To be announced
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Statistical classification </th>
        <td>
          
            Official Statistic
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Contact details </th>
        <td>
          
            Robert Kent-Smith, gdp@ons.gsi.gov.uk, Telephone  +44(0)1633 651618
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Other information </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</table>

    </div>
    
  </div>


          </div>
          
          <div role="tabpanel" class="tab-pane" id="edit">
            <div class="edit-container">
              <a class="btn btn-primary" href="http://prose.io/#ONSdigital/sdg-data/edit/develop/data/indicator_17-1-1.csv">Edit Data</a>
              <a class="btn btn-primary" href="http://prose.io/#ONSdigital/sdg-data/edit/develop/meta/17-1-1.md">Edit Metadata</a>
            </div>
          </div>
          
        </div>
      </section>
    </div>
  </div>
</div>

<footer role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <a href="mailto:sustainabledevelopment@ons.gov.uk">Contact us</a> | <a class="twitter-follow-button" href="https://twitter.com/StatsClaudie?ref_src=twsrc%5Etfw" data-show-count="false">@StatsClaudie</a>
      </div>
      <div class="col-xs-3 text-right">
        <a href="/sdg-indicators/faq/">FAQs</a> | <a href="/sdg-indicators/about/cookies-and-privacy/">Cookies</a>
      </div>
    </div>
  </div>
</footer>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<!-- <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script> -->
<!-- Google Analytics -->

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');



</script>

<!-- /.container </div> -->
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="//cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<script src="/sdg-indicators/assets/js/lib/d3-simple-slider.min.js"></script>
<script src="/sdg-indicators/assets/js/plugins/jquery.sdgMap.js"></script>
<script type="text/javascript"> window.loop11_key = "0104054b3b56d396b42e668dfe096cee161454a8"; </script>
<script src="//cdn.loop11.com/my/loop11.js" type="text/javascript" async="async"></script>
<script src='/sdg-indicators/assets/js/sdg.js?v=20181007171533'></script>
<script src="/sdg-indicators/assets/js/lib/classList.js"></script>
<script src="/sdg-indicators/assets/js/lib/modernizr-custom.js"></script>
<script src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.min.js"></script>
<script>
$(function() {
    if($('#indicatorData').length) {
      var domData = $('#indicatorData').data();

      $('.async-loading').each(function(i, obj) {
          $(obj).append($('<img />').attr('src', $(obj).data('img')));
      });

      $.ajax({ 
        url: 'https://ONSdigital.github.io/sdg-data/comb/' + domData.id + '.json', 
        success: function(res) { 

          $('.async-loading').remove();
          $('.async-loaded').show();

          var model = new indicatorModel({
            data: res.data,
            edgesData: res.edges,
            geoCodeRegEx: domData.geocoderegex,
            showMap: domData.showmap,
            country: domData.country,
            indicatorId: domData.indicatorid,
            shortIndicatorId: domData.id,
            chartTitle: domData.charttitle,
            measurementUnit: domData.measurementunit,
            dataSource: domData.datasource,
            geographicalArea: domData.geographicalarea,
            showData: domData.showdata,
            footnote: domData.footnote,
            graphType: domData.graphtype
          }),
          view  = new indicatorView(model, {
            rootElement: '#indicatorData',
            legendElement: '#plotLegend',
            maxChartHeight: 600,
            tableColumnDefs: [
              { maxCharCount: 25 }, // nowrap
              { maxCharCount: 35, width: 200 },
              { maxCharCount: Infinity, width: 250 }
            ]
          }),
          controller = new indicatorController(model, view);
          controller.initialise();
        }
      });
    }

    var switcher = new accessibilitySwitcher();


});
</script>

</body>
</html>

  
