<div id="cookie-page-success" style="display: none;" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You’ve set your cookie preferences. <a id="cookie-page-go-back" class="govuk-notification-banner__link" href="#">Go back to the page you were looking at</a>.
    </p>
  </div>
</div>