<div class="cookie-page-no-javascript govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      We cannot change your cookie settings at the moment because JavaScript is not running in your browser.
    </p>
    <p>
      To fix this, try:
    </p>
    <ul>
        <li>reloading the page in case there was a temporary fault with Javascript</li>
        <li>turning on JavaScript in your browser settings</li>
    </ul>
  </div>
</div>