<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Mobile Specific Metas
        ================================================== -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Title and meta description
        ================================================== -->
        <title>Tuberculosis incidence per 100,000 population - U.K. Indicators For The Sustainable Development Goals</title>
        <meta property="og:title" content="U.S. Data Federation">
        <meta name="description" content="">
        <meta property="og:description" content="">
        <link rel="canonical" href="/">

        

        <!-- Favicons ================================================== -->
        <!-- 128x128 -->
        <link rel="shortcut icon" type="image/ico" href="/sdg-indicators/assets/img/favicons/favicon.ico">
        <link rel="icon" type="image/png" href="/sdg-indicators/assets/img/favicons/favicon.png"><!-- 192x192, as recommended for Android
        http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
        -->

        

        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/sdg-indicators/assets/css/default.css?v=20171020235413">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
<body>
<!-- <div class="container"> -->
 
<a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">Skip to main content</a>
<div id="disclaimer">
  <div class="container">
  <div class="alert alert-danger" role="alert">
    <strong class="phase-tag">Alpha</strong> This is a development website and data may be test data. We welcome your
    <a href="mailto:sustainabledevelopment@ons.gov.uk">feedback</a>.
  </div>
</div>
</div>

<header role="banner">
  <div class="container">

    <a class="navbar-brand" href="/sdg-indicators/" id="home">
      <img src="/sdg-indicators/assets/img/SDG_logo.png" alt="Sustainable Development Goals - 17 Goals to Transform our World" />
    </a>

    <nav class="navbar navbar-default" id="main-nav">

      <ul class="top-level">
        <li><span data-target="menu">Menu</span></li>
        <li><span data-target="search">Search</span></li>
      </ul>

      <ul class="nav navbar-nav menu-target" id="menu">
        <li class="nav-link active" >
          <a href="/sdg-indicators/">Goals</a>
        </li>
        <li class="nav-link" >
          <a href="/sdg-indicators/reporting-status">Reporting Status</a>
        </li>
        <li class="nav-link" >
          <a href="/sdg-indicators/about">About</a>
        </li>
<!--        <li class="nav-link" >
          <a href="/sdg-indicators/news">News &amp; Events</a>
        </li> -->
      </ul>


    </nav>
  </div>

</header> 
 




<script type="text/template" id="item_template">
  <% _.each(series, function(seriesItem) { %>
    <div class="variable-selector" data-field="<%=seriesItem.field%>">
      <h5><%=seriesItem.field%><i class="fa fa-chevron-down"></i></h5>
      <div class="bar">
        <div class="selected"></div>
      </div>
      <div class="variable-options">
        <div>
          <button data-type="select">Select all</button>
          <button data-type="clear">Clear all</button>
        </div>
        <% _.each(seriesItem.values, function(item) { %>
          <label><input type="checkbox" value="<%=item.value%>" data-field="<%=seriesItem.field%>" /><%=item.value%></label>
        <% }); %>
      </div>
    </div>
  <% }); %>
</script>

<script type="text/template" id="units_template">
  <% _.each(units, function(unitsItem, index) { %>
    <label><input type="radio" name="unit" value="<%=unitsItem%>" <% if(!index) { %>checked="checked"<% } %> /> <%=unitsItem%></label>
  <% }); %>
</script>


<div class="heading indicator goal-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <a href="/sdg-indicators/good-health-and-well-being" title="View this goal's indicator list">
          <img src="/sdg-indicators/assets/img/goals/3.png" alt="icon for Goal 3" />
        </a>
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h2>
          <a href="/sdg-indicators/good-health-and-well-being">
            <span class="hidden-sm hidden-md hidden-lg">Goal 3: </span>Ensure healthy lives and promote well-being for all at all ages
          </a>
        </h2>
        <h3>Indicator 3.3.2: Tuberculosis incidence per 100,000 population</h3>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-3">

   
   
   
   

   
   
   
   
  
  <ol class="breadcrumb">
  <li><a href="/sdg-indicators/">Home</a></li>
  
      <li><a href="/sdg-indicators/good-health-and-well-being" title="Ensure healthy lives and promote well-being for all at all ages">Goal 3</a></li>
      <li class="active">Tuberculosis incidence per 100,000 population</li>
  
</ol>

  <div id="page-content">
  <p>We are still looking for a suitable data source for this indicator. Please contact us if you think you can help by emailing <a href="mailto:SustainableDevelopment@ons.gov.uk">SustainableDevelopment@ons.gov.uk</a>.</p>


  
    <hr/>
  
  </div>

  <section id="indicatorData" data-indicatordata='[{"Year":"2015","Group":"A","Value":"1"},{"Year":"2015","Group":"B","Value":"3"},{"Year":"2015","Group":null,"Value":"2"},{"Year":"2016","Group":"A","Value":"1"},{"Year":"2016","Group":"B","Value":"3"},{"Year":"2016","Group":null,"Value":"2"}]' data-indicatorid='indicator_3-3-2' data-country="UK"
    data-charttitle="Tuberculosis incidence per 1,000 UK population" data-measurementunit="" data-datasource="" data-geographicalarea="" data-showdata="false">

    
    
    <div class="alert alert-warning" role="alert">
      <i class="fa fa-info" aria-hidden="true"></i> See metadata tab for sources, definitions, and methodology information
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      
      <li role="presentation" class="nav-item  active">
        <a class="nav-link" data-toggle="tab" href="#metadata" aria-controls="metadata" role="tab">Metadata</a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#sources" aria-controls="sources" role="tab">Sources</a>
      </li>
      
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      
      <div role="tabpanel" class="tab-pane active" id="metadata">
        <!-- National Metadata -->
        <div class="collapsible expanded">
          <h3>National Metadata<span> (Collapse)</span></h3>
          <article>
            <p>This table provides metadata for the actual indicator available from UK statistics closest to the corresponding global
                SDG indicator. Please note that even when the global SDG indicator is fully available from UK statistics, this table
                should be consulted for information on national methodology and other UK-specific metadata information.</p>
              <table class="table table-hover">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
      <tr>
        <th scope="row">Actual Indicator Available </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Actual Indicator Description </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Indicator Periodicity </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Earliest Available Data </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Geographic Coverage </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Release Date </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Next Release </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Statistical Classification </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Disaggregation </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Comments and Limitations </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Contact Details </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</table>

          </article>
        </div>
        <!-- Method of Computation -->
        <div class="collapsible collapsed">
          <h3>How the UK Indicator is Calculated<span> (Expand)</span></h3>
          <article>
            <table class="table table-hover">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
      <tr>
        <th scope="row">Units of Measure </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Calculations </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Numerator </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Denominator </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Definitions </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</table>

          </article>
        </div>
        <!-- Global Metadata -->
        <div class="collapsible collapsed">
          <h3>Global Metadata<span> (Expand)</span></h3>
          <article>
            <p>This table provides information on metadata for SDG indicators as defined by the UN Statistical Commission. Complete global <a href="http://unstats.un.org/sdgs/files/metadata-compilation/Metadata-Goal-3.pdf">metadata</a> is provided by the UN Statistics Division.</p>
            <table class="table table-hover">
  
    
  
    
  
    
  
    
  
    
      
      <tr>
        <th scope="row">Indicator Name </th>
        <td>
          
            Tuberculosis incidence per 100,000 population
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Indicator Number </th>
        <td>
          
            3.3.2
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Target Name </th>
        <td>
          
            By 2030, end the epidemics of AIDS, tuberculosis, malaria and neglected tropical diseases and combat hepatitis, water-borne diseases and other communicable diseases
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Target Number </th>
        <td>
          
            3.3
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Global Indicator Description </th>
        <td>
          
            Estimated number of new and relapse TB cases (all forms of TB, including cases in people living with HIV) arising in a given year, expressed as a rate per 100 000 population.
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">UN Designated Tier </th>
        <td>
          
            1
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">UN Custodian Agency </th>
        <td>
          
            WHO
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">UN Partner Agency </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">UNSD Indicator Code </th>
        <td>
          
            C030302
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">UN Indicator Notes </th>
        <td>
          
            
          
        </td>
        </tr>
        
      
  
    
      
      <tr>
        <th scope="row">Link to UN Metadata </th>
        <td>
          
            
            
            
            

            
              <a href="http://unstats.un.org/sdgs/files/metadata-compilation/Metadata-Goal-3.pdf">
                Link
              </a>
            
            
          
        </td>
        </tr>
        
      
  
    
      
      
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</table>

          </article>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="sources">
        <!-- Count the non-empty sources (up to 5) -->





      </div>
      
    </div>
  </section>
</div>
<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<!-- <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script> -->
<!-- Google Analytics -->

<!-- /.container </div> -->
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script src='/sdg-indicators/assets/js/sdg.js?v=20171020235413'></script>
<script>
$(function() {
    $(window).scroll(function() {
        if ($(".navbar").offset().top > 50) {
            $("#main-nav").addClass("collapsed");
        } else {
            $("#main-nav").removeClass("collapsed");
        }
    });

    $('#metadata .collapsible h3').click(function() {
      var $container = $(this).closest('div'),
          $article = $(this).next('article'),
          $span = $(this).find('span');

      $article.slideToggle(function() {
        if($container.hasClass('expanded')) {
          $container.removeClass('expanded');
          $container.addClass('collapsed');
          $span.html(' (Expand)');
        } else {
          $container.removeClass('collapsed');
          $container.addClass('expanded');
          $span.html(' (Collapse)');
        }
      });
    });

    if($('#indicatorData').length) {
      var model = new indicatorModel({
        data: $('#indicatorData').data('indicatordata'),
        country: $('#indicatorData').data('country'),
        indicatorId: $('#indicatorData').data('indicatorid'),
        chartTitle: $('#indicatorData').data('charttitle'),
        measurementUnit: $('#indicatorData').data('measurementunit'),
        dataSource: $('#indicatorData').data('datasource'),
        geographicalArea: $('#indicatorData').data('geographicalarea'),
        showData: $('#indicatorData').data('showdata')
      }),
      view  = new indicatorView(model, {
        rootElement: '#indicatorData',
        maxChartHeight: 600
      }),
      controller = new indicatorController(model, view);
      controller.initialise();
    }

    
});
</script>

</body>
</html>

