body {
    background-color: #d6d7d9;
}

.logo-home {
    float: left;
    text-indent: -99999em;
    overflow : hidden;
    background: url('../../assets/img/logo.png');
    background-size : cover;
    background-repeat: no-repeat;
}

.logo-home-mobile {
    display : none;
}

header.fixed-header .logo-home {
    margin : 42px 0 0 0;
    width : 300px;
    height : 65px;

}

header.fixed-header.smaller .logo-home {
    margin : 10px 50px 0 0;
    width : 250px;
    height : 50px;
}



.usa-banner {
    background-color : #205493;
    padding : 5rem 0 4rem 0;
    color : #fff;
}

.usa-banner.banner-small {
    padding : 2rem 0 0 0;
}

.usa-banner h1 {
    margin-top : 5rem;
}

.usa-label {
    display : table;
}

table th {
    text-align: left;
}

.main-content {
    padding-top : 140px;
    background-color: #fff;
}



header.fixed-header {
    top: 0;
    position: fixed;
    height: 155px;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 13px;
    margin: auto;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header.fixed-header .site-navbar ul {
    padding-left: 34px;
}

.usa-unstyled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 700px) {
    header.usa-unstyled-list:first-child {
        padding-left: 2.7em;
    }
}

header.fixed-header .site-navbar ul li {
    display: table-cell;
    position: relative;
    width: 212px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header.fixed-header .site-navbar ul li#nav-logo {
    width: 150px;
}

header.fixed-header .site-navbar ul li a {
    color: #112e51;
    display : inline-block;
    text-decoration: none;
    vertical-align: top;
    padding-top : 4em;
    border-bottom : .5rem solid #fff;
    font-weight: bold;
}

header.fixed-header .site-navbar ul li a:hover {
    border-bottom : .5rem solid #F5A623;
}

header.fixed-header .site-navbar ul li#nav-logo a,
header.fixed-header .site-navbar ul li#nav-logo a:hover {
    padding : 0;
    border-bottom : 0;
}



header.smaller {
    height: 105px;
}

header.smaller .site-navbar ul li {
    height: 70px;
}

header.smaller .site-navbar ul li a {
    padding-top : 1.5em;
}


header.smaller .usa-header-logo-img {
    height : 100px;
}

a.nav-toggle {
    float : right;
}

.intro-paragraph, .goals-list {
    margin : 1rem 0;
}

.goals-list {
    display: inline-block;
    margin-top : 0;
}

.goals-list .usa-width-one-fourth {
    margin-bottom : 0.35765%;
}

@media (min-width: 700px) {
    .nav-logo-text,
    .logo-collapsed {
        display : none;
    }

}

.logo-collapsed {
    margin : 5px 2rem 0 2rem;
    width : 80px;
    height : 80px;
}


@media (max-width: 700px) {

    .usa-grid {
        padding : 0 1.5rem;
    }
    
  
    .usa-disclaimer {
        font-size : 1.25rem !important;
    }

    .usa-banner h1 {
        margin-top: 1rem;
    }    

    .logo-home-mobile {
        margin : 7px 0 0 15px;
        width : 100px;
        height : 40px;        
        display : block;
        float: left;
        text-indent: -99999em;
        overflow : hidden;
        background: url('../../assets/img/logo.png');
        background-size : cover;
        background-repeat: no-repeat;
    }


    header.fixed-header,
    header.smaller {
        height : 80px;
    }

    .main-content {
        padding-top : 80px;
    }

    header .site-navbar.opened {
        background-color : #fff;
        clear: both;
    }

    header .site-navbar .logo-home, .login-link {
        display: none !important;
    }

    header.fixed-header .site-navbar ul li,
    header.smaller .site-navbar ul li {
       width : 100%;
        height : 4em;
        text-align: left;
        display : block;
    }

    header.smaller .site-navbar ul li a,
    header.fixed-header .site-navbar ul li a {
        padding : 0;
        width : 100%;
        height : 4em;
        text-align: left;
        display : block;
        border-bottom : 0;
    }

    header.smaller .site-navbar ul li a:hover,
    header.fixed-header .site-navbar ul li a:hover {
        border-bottom : 0;
    }


    header .site-navbar.opened {
        background-color : #fff;
        clear: both;
    }

    header .site-navbar #nav-logo {
        display: none !important;
    }


.initiative-block {
    width : 100%;
    display : block;
    padding : 2rem !important;
    height : auto !important;
}

.initiative-block h3 {
margin-top : 1rem;
display : block;
}

}

.usa-footer {
    background-color: #f1f1f1
}

.usa-footer-contact-links {
    text-align : left;
}


/* Initiative template */

.initiative-block {
    height : 20rem;
    background-color : #205493;
    padding : 0 2rem;
    margin-bottom : 2rem;
    color : #fff;
}


a.initiative-block,
a.initiative-block:link,
a.initiative-block:hover,
a.initiative-block:visited {
    color : #fff;
}


.initiative-description {
    font-size : 2rem;
}

aside.related {
    border-left : 4px solid #ccc;
    padding-left : .5em;
}

.button.icon {
    background-color: #0071bc;
    color : #fff;
    text-transform: uppercase;
    font-size : .8em;
    padding : .5em;
}

.datatable-container #my-table_wrapper:nth-child(1) div.col-sm-12  {
    overflow-x: auto;
}

.metadata-table,
.datatable-container {
    padding-top : 1em;
}

p.metadata-notes {
    font-size : .8em;
}

.datatable-container h3,
.metadata-table h3 {
    margin-top : 3em;
}

.metadata-table table {
    margin-top : 1em !important;
}

.datatable-container th {
    border-top : 1px solid #666 !important;
}

#my-table_filter input {
    margin-left : 1em;
}

#my-table {
    margin-top : .5em;
}

.metadata-table table {
    margin-top : 0;
}

.metadata-table table th {
    font-weight : bold;
    background-color : #d6d7d9;
}

.goal-heading a,
.goal-heading a:link,
.goal-heading a:visited {
    color : #fff;
}

.goal-heading a:hover {
    color : #dce4ef;
}

.goal-heading {
    margin-bottom: 0;
}


.no-graph a {
  color : #666;
}

ul.nav-tabs {
    width : 100%;
    font-family: "Merriweather","Georgia","Cambria","Times New Roman","Times",serif;
}

ul.nav-tabs li::before {
    content: "";
}

ul.nav-tabs li::after {
    margin-bottom : 0;
}

.tab-content a.btn:visited {
    color : #fff;
}

.tab-content {
    margin-bottom : 2em;
}
 .footer-about-heading {/*my css*/
  margin-top: 1rem;
  font-size: 14px;
  text-align:center;
}
.footer-contact-heading {
  margin-top: 1rem;
  text-align: center;
  padding-left: 115px;
  font-size: 16px;
}

.contact {
  line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1rem;
    text-align: center;
    padding-left: 115px;
}

#united-nations-sites-that-contain-details-about-the-development-and-implementation-of-the-sdg-initiative {
  font-size: 2rem;
}

p a, .usa-content-list a {
  text-decoration: none;
}

.usa-banner-content h1 {
  font-size: 2.86rem;
}

.usa-font-lead {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.login-link {
    float : right;
    margin-left : 2em;
    border : 1px solid #ccc;
    background-color : #F5F5F5;
    padding : 0 .5em;
    font-size : .9em;
    color : #205493;
    border-radius: 3px;
    text-decoration: none;
}

.login-link:visited {
    color : #205493;
}

.login-link:hover {
    text-decoration: none;
    background-color: #fff;
}

.github-login {
    margin-bottom : 5em;
}

.github-login .usa-button.logout {
    background-color : #981b1e;
}


/* custom chart css */

.ct-chart .ct-label {
    font-size: 1.25rem;
}
