// Enter any custom Sass in this file.

.layout-frontpage .emergency-banner {
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    margin-bottom: -10px;
    margin-top: 0;
    position: relative;
    z-index: 10;
}

.emergency-banner {
    color: #fff;
}

.emergency-banner__heading {
    font-weight: 700;
}

.emergency-banner--notable-death {
    background-color: #0b0c0c;
}

.layout-frontpage .emergency-banner__description {
    margin: 20px 0;
}

.emergency-banner__link.govuk-link:link, .emergency-banner__link.govuk-link:visited {
    color: #fff;
}

@media (min-width: 40.0625em) {
  .emergency-banner {
    padding: 30px 0;
  }
  .layout-frontpage .emergency-banner__heading {
    margin-bottom: 20px;
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.0416666667;
  }
  .emergency-banner {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
  .emergency-banner__link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}


.site-intro {
    margin-top: 20px;
    .description{
        margin-top:  30px;
        font-size:  21px;

        text-align: justify;
        text-justify: inter-word;
    }

    @media only screen and (min-width: 700px) {
        padding-right: 300px;
        min-height: 180px;

        background: url('../img/SDG Wheel_Transparent-01.png');
        background-position: right 30px center;
        background-size: 220px;
        background-repeat: no-repeat;
    }
}

#disclaimer .alert a {
      color: #0000CD; }

.navbar-brand img{
      width: 250px;
}

#main-content .alert {
  white-space: nowrap;
  p {
     white-space: normal;
      }
}

@media screen and (min-width: 500px){
      .navbar-brand img{
            width: 350px;
      }
}

#disclaimer {
  .disclaimer-alert {
    padding-bottom: 15px;
    padding-top: 15px
  }
}

.btn-takepart {
  background: #DD1367 !important;
  float: right;
  margin-top: -120px;
  margin-right: -9px;
  box-shadow: 0 2px 0 #580829;
  @media only screen and (min-width: 992px) {
    display: inline-block;
  }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    width: 220px;
    float: unset;
    margin-top: -120px;
  }
  @media only screen and (min-width: 1px) and (max-width: 767px) {
    display: block;
    width: 220px;
    float: unset;
    margin-top: -120px;
  }
  &:hover, &:active {
    background: #A01951 !important;
  }
  &:focus {
    background: #fd0 !important;
    color: #0b0c0c !important;
  }
}

.ten {
  width: 10%;
}
.twenty {
  width: 20%;
}
.fourtyfive {
  width: 45%;
}

.govuk-fieldset__legend--l.cookie-form-legend {
  font-size: 16px;
}

.blank {
  background-colour: #ffffff
}

#data-notice {
  margin-left: 30px;
}

.notice-heading {
  font-size: 19px;
  font-weight: bold;
}

.inset-text {
  border-left: 10px solid #b1b4b6;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 30px;
}

#toc {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
  li {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7.5px;
    &::before {
      content: "—";
      position: absolute;
      left: 0;
      width: 20px;
      overflow: hidden;
    }
    a {
      text-decoration: none;
    }
  }
}

body.contrast-high {
  .fa-exclamation-circle {
    color: white;
  }
  .goal-indicators div span.status.complete {
    background-color: white !important;
    background: white !important;
    color: black !important;
   }
  .goal-indicators div span.status.notstarted {
    background-color: black !important;
    background: black !important;
    color: white !important;
    border: 1px solid white;
   }
}

.persona-list {
  list-style-type: none;
  padding: 0;
  li {
    display: flex;
    .up-column {
      padding: 10px;
      border: 1px solid;
      text-align: center;
      margin: 5px;
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 16px;
        font-weight: 700;
        margin-top: 5px;
      }
      .persona-quote {
        margin-bottom: 75px;
      }
      .persona-motivation {
        align-self: flex-end;
        margin-top: auto;
      }
    }
  }
}
.up-image {
  width: 100%;
  display: none;
}
@media only screen and (min-width: 768px) {
  .up-image {
    display: block;
  }
  .up-text {
    display: none;
  }
}
