$status-color-complete: blue;
$status-color-inprogress: red;
$status-color-notstarted: pink;
$status-color-notapplicable: green;
$status-backgroundColor-complete: black;
$status-backgroundColor-inprogress: gray;
$status-backgroundColor-notstarted: white;
$status-backgroundColor-notapplicable: purple;

$status-border-complete: yellow;
$status-border-inprogress: purple;
$status-border-notstarted: 1px solid navy;
$status-border-notapplicable: white;
$status-border-complete-highContrast: aqua;
$status-border-inprogress-highContrast: teal;
$status-border-notstarted-highContrast: 1px solid olive;
$status-border-notapplicable-highContrast: navy;
