html {
    font-size: 100%;
}
body {
    font-family: "GDS Transport", arial, sans-serif;
}

.govuk-cookie-banner {
    margin-top: -15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    background: #f3f2f1 url("../img/sdgbg.png") bottom left repeat-x;
}

.govuk-fieldset__legend {
    // Override Bootstrap's underlining.
    border-bottom: none;
}
