---
# site styles
---
@import "bootstrap.scss";

$main-background-color: 				#eaeaea;
$vanilla: 								#fff;
$footer-color:                          #E5E6E7;                        


body {
	background: $main-background-color;
	padding: 0;
	margin: 0;
}

header {
	background: $vanilla;
	margin: 0;

	nav {
		margin: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Open Sans', sans-serif; 
}

#main-content {

    font-family: 'Roboto', sans-serif;

    padding-top: 1rem;
    padding-bottom: 1rem;

	a {
		padding: 5px;
		background: white;
		display: inline-block;
		margin-bottom: 5px;

		&:hover {
			background: darken(white, 10%);
		}
	}

	img {
		width: 200px;
	}
}

footer {
    background-color: #414042;
    color: $footer-color;

    h3 {
		margin-top: 32px;    
    }

    ul {
    	list-style-type: none;
    	padding: 0;

    	li {
    		margin: 0;
    		padding: 6px 0 2px 0;
    	}
    }

    a {
        color: $footer-color;

        &:hover {
            color: lighten($footer-color, 20%);
        }
    }

    .licence {
    	border-top: 1px solid #BBBDBF;
    	padding: 32px 0 16px 0;

    	p {
		   	display: inline-block;
		    margin-left: 16px;
		    padding-top: 3px;
    	}
    }
}