--- 
# site styles 
--- 

$main-background-color: #eaeaea;
$dark-highlight : #0275d8;
$vanilla: #fff;
$footer-color : #E5E6E7;
$goal-colors : #E52B3D #DDA63A #4C9F38 #C42130 #FF3E24 #28BCE1 #FCC30B #A21942 #FD6925 #DC1D67 #FD9C27 #BF8B2E #417D46 #0A96D8 #57BE2F #00689C #1F4A6A;
$navbar-height : 175;
$disclaimer-height: 40;
$collapsed-navbar-height: $navbar-height - 30;
@mixin noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.container.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

body {
  background: $main-background-color; // url('../img/SDG Wheel_Transparent-01.png') bottom 50px right -300px no-repeat;
  padding: $disclaimer-height + unquote("px") 0 0 0;
  margin: 0;
}

header {
  background: $vanilla url('../img/sdgbg.png') bottom left repeat-x;
  .container {
    .navbar-default {
      border: none;
    }
  }
}

.match {
  background-color: yellow;
}

.loader {
  svg path,
  svg rect{
    fill: #FF6700;
  }
}

.results {
  div.row .col:nth-child(2) {
    padding-left: 0;
  }

  img {
    width: 100%;
    max-width: 250px;
  }

  p {
    border-bottom: 1px solid #cdcdcd;
    padding: 4px 0;
  }

  h4 {
    margin-bottom: 1.5rem;
    margin-top: 1rem;  
  }
}

.breadcrumb {
  margin-bottom: 15px;
  &>.active {
    display: inline;
  }
}

#disclaimer {
    background: #f2dede;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 400;

    .phase-tag {
      background: #005ea5;
      color: white;
      text-transform: uppercase;
      padding: 2px 5px 0;
    }
    .alert {
      margin-bottom: 0;
      padding: 10px;
    }
    .alert-danger {
      border: none;
      margin-bottom: 0;
      a {
        text-decoration: underline;
      }
      /* Extra Small Devices, Phones */
      @media only screen and (max-width: 680px) {
        font-size: 12px;
      }
    }
  }

//  background: white url(../img/sdgbg.png) bottom left repeat-x;
.navbar-brand {
  display: block;
  img {
    width: 300px;
  }
}



.navbar {

  li {
    text-transform: uppercase;
  }

  ul.navbar-nav {
    float: right;
    margin-top: 12px;

    li {
      a {
        padding: 2px;
        margin: 2px 15px;
        //color: #E5E6E7;
        //background: #414042;

        &:hover {
          //background: #414042;
          //color: #E5E6E7;
        }
      }

      &.active a {
        //color: #E5E6E7;
        //background: #58595B;
        border-bottom: 2px solid #333;
        background: transparent;

        &:hover {
          //background: #58595B;
          //color: #E5E6E7;
          background: transparent;
        }
      }

      a:last-child {
        margin-right: 0;
      }
    }
  }

  &.navbar-default {
    background: transparent;
    border: none;
  }

  .top-level {
    display: none;
  }

  #search {
    position: relative;
    clear: left;
    float: right;

    label {
      position: absolute;
      top: 3px;
      left: 7px;
      font-size: 20px;
    }

    input {
      padding: 5px;
      padding-left: 29px;
      width: 140px;
      transition: width 0.4s;

      &:focus {
        width: 350px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  header .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    height: auto;
  }

  .navbar {
    clear: left; 

    &.navbar-default {
      color: #E5E6E7;
      background: #414042;
      margin-bottom: 10px;
    }

    .top-level {
      display: block;
      font-size: 16px;
      
      li {
        float: left;
        width: 50%;
        padding: 15px;

        &.active {
          background: #58595B;
        }

        a {
          color: #E5E6E7;
          display: block;
        }
      }
    }

    & .menu-target {
      background: #58595B;
    }

    ul.navbar-nav {
      float: none;
      display: none;
      clear: left;
      margin: 0;

      font-size: 15px;

      li {

        a {
          display: block;
          background: #58595B;
          padding: 6px 0 6px;
          color: #E5E6E7;

          &:hover {
            color: #E5E6E7;
          }
        }

        &.active a {
          border: none;
          color: #fff;
          font-weight: bold;

          &:hover {
            color: #fff;
          }
        }

        &:last-child {
          padding-bottom: 10px;
        }
      }
    }

    #search {
      display: none;
      width: 100%;
      padding: 20px;

      label {
        top: 23px;
        left: 25px;
        color: black;
      }

      input { 
        width: 100%;
        color: #333;

        &:focus {
          width: 100%;
        }
      }
    }
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table-hover {
  tbody tr:hover {
    background: darken(white, 12%);
  }
}

.btn-download {
  margin-top: 1.5rem;
  background: #0F8243;

  &:hover, &:active {
    background: #0b5d30;
  }
}

h5.download {
  font-weight: bold;
}

h5 + .btn-download {
  margin-top: 0.5rem;
}

@for $i from 1 through length($goal-colors) {
  $c: nth($goal-colors, $i);
  $dark-c: darken($c, 20%);
  .goal-#{$i} {
    &.heading {
      background-color: $c; //border-top: 2px solid darken($c, 15%);
      border-bottom: 5px solid $dark-c;
    }
    &.goal-indicators {
      div {
        span {
          border-color: $dark-c;
          color: $dark-c;
        }
      }
    }
  }
  .goal-tiles #goal-#{$i} {
    &:hover {
      background-color: $c;
    }
  }
}

#skiplink {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  padding: 10px;
  background: white;
  text-align: center;
  border: 1px solid black;
  color: black;
  display: block;
}

.heading {
  a {
    background: transparent;
    color: white;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  h2,
  h3 {
    color: white;
  }
  h2 {
    margin-top: 12px;
    /* Extra Small Devices, Phones */
    @media only screen and (max-width: 480px) {
      font-size: 15px;
    }
  }
  h3 {
    /* Extra Small Devices, Phones */
    @media only screen and (max-width: 480px) {
      font-size: 13px;
    }
  }

  &.indicator {
    h2 {
      font-size: 24px;

      @media only screen and (max-width: 480px) {
        font-size: 13px;
      }
    }
    h3 {
      font-size: 30px;

      @media only screen and (max-width: 480px) {
        font-size: 15px;
      }
    }
  }

  img {
    max-width: 100%;
    margin-top: 10px;
  }
}

#main-content {
  font-family: 'Roboto', sans-serif;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  .collapsible {
    &:first-child {
      border-top: 1px solid #e0e0e0;
    }
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4; // border-top-color: #efefef;
    h3 {
      cursor: pointer;
      padding: 8px 12px;
      margin: 0;
      position: relative;
      span {
        position: absolute;
        top: 17px;
        right: 12px;
        background-repeat: no-repeat;
        background-position: top right;
        background-color: transparent;
        text-indent: -9999px;
      }
    }
    article {
      display: none;
      padding: 8px 12px;
    }
    &.collapsed span {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAOCAYAAAArMezNAAAB5ElEQVQ4jZWTS2vCUBBGz43VFixFkmLxgaDbbsRgkP58oaiYrNy4UpSCiY9WbUWNmummhoqxj1l+c++Zj3koEQFgu92KiHB9fY1SSvGPCIJAttstsViMRCKhADSA1WolnU6HVqvFfD7/DxMREc/zaDQadLtdfN8XgKuPjw/pdDr0ej1832e9XmNZlui6/ifXnudh2zbT6RTP8zgcDjw+Poq22+2YTCb4vg/AaDSi0Wgwm83kN6jruvL8/Mx0OgVgs9ngeR4AWiqVolwuc3d3F34Yj8c0m80f4a7rSr1eZ7lchpqu61SrVeLxOJpSShUKBVWpVEgmkyfwdrvN29ubyHHCXz0dj8fSbDZZrVZnUMMwlFJKacdEsVhUpmmewEejEbZthwMNgkBc1z0WDN8ZhkG1WiWbzYZzUd/MANDv98VxHN7f30Mtl8thWRbr9RrHcZhMJmdOv0MjwQDD4VBs22axWIRaOp1mv9/z+vp64rRWq5FOp882KBIcBIG8vLzgOM7Fvb6/v+fp6QnDMCLXUosUNU3l83lM0+T29vYsn0qlsCwLXdcji14EH+GFQuFsoIZhYFkWDw8P6qfTv7pY8itKpZISEXEch5ubG0zTJJfL/XqVkT2OisFgIIlEgkwm86dT/wQLtP1TTuwWxwAAAABJRU5ErkJggg==');
    }
    &.expanded {
      article {
        display: block;
      }
      span {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAOCAYAAAArMezNAAAB10lEQVQ4jY2TS4vqQBCFTwWfBMWMJkYQRF1lqwYUwX/vJg8RV+4E0QhBY/ABGh91F3NtdEZHa9fVxddVp04TM+OTWCwWHEURKpUKfVIf+6RoPp+z67o4HA44n89cr9ffwt+Cb9DVagUAcF0XRMS1Wu1P+EswM7Pv+7AsC2EYivx+v4fruojFYlwulyFJ0tMHpFfgIAh+QW+x2+3gui5msxmu1+vTJT0F+77P/X4fy+VS5L6+vqBpmjiHYQjHcTCbzZ42Rj9d4Xke27aNIAhETlVVNJtNpNNpWJaF+Xwu7jKZDJrNJqrV6oMkDxp7nseO4zxANU1Do9FAsViEJElkmiYTkeh0u93Ctm1cr9cHt0j3UNu2xfYBQFEUmKYJXdfFknK5HFqtFkqlkqi7LXQymYjxJWbm1Wr1a3xZltFut6FpGhGR6ISISFEUMk3zQfP9fo/BYIDpdMrMzNLpdMJPaDabRa/Xg67rL72az+fp/8Mit9lsMBwOEYbhtxTFYhGpVAoAUCgU0O12/4TewzudjpAlkUhAVVXE4/FvV0RRxOPxGMvlEoZhQNd13I//LtbrNY9GI8iyDMMwIMsyCbtFUcSXywXJZPLlb3oVzMzH4xFEhGQySQDwD7dp8T14Um6/AAAAAElFTkSuQmCC');
      }
    }
  }
  h4 {
    margin-bottom: 1.5rem;
  }

  #toolbar {
    button {
      width: 160px;
      background-color: #fff;
      position: relative;
      border: 1px solid #ccc;
      text-align: left;
      padding: 10px 7px;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;

      i {
        position: absolute;
        top: 11px;
        right: 6px;
        font-size: 17px;
      }

      &.disabled {
        color: #777;
        background: #ccc;
      }
    }
  }

  #fields {

    //padding-left: 10px;

    @include noselect;

    padding-top: 14px;
    padding-bottom: 14px;

    label {
      background-color: #fff;
      padding: 7px;
      display: block;
      font-weight: normal;
      margin-bottom: 1px;
      cursor: pointer;

      //border: 1px solid #ccc;

      position: relative;

      input {
        position: absolute;
        top: 7px;
        right: 6px;
      }
      &:hover {
        border-color: #acacac;
      }
      &.disabled {
        color: #888;
        cursor: not-allowed;
        &:hover {
          border-color: #ccc;
        }
      }

      &.possible {
        background-color: #dedede;
      }

      &.excluded {
        background-color: #666;
        color: white;

        & input {
          display: none;
        }
      }
    }

    h5 {
      padding-left: 7px;
      position: relative;
      padding-right: 25px;

      i {
        font-size: 14px;
        position: absolute;
        top: 2px;
        right: 6px;
      }
    }

    .bar {
      height: 7px;
      border: 1px solid #dedede;
      margin: 2px;
      padding: 0;
      position: relative;

      > div {
        height: 5px;
        float: left;
      }

      // #246
      .selected {
        background-color: #555;
      }
      //

      .default {
        background-color: white;
      }

      .possible {
        background-color: #dedede;
      }

      .excluded {
        background-color: #666;
      }
    }

    .variable-selector {
      position: relative;
      cursor: pointer;
      min-width: 160px;
      border: 1px solid #ccc;
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 10px;

      .variable-options {
        background-color: white;
        display: none;
        position: absolute;
        z-index: 100;
        border: 1px solid #ccc;
        border-top: 0;
        right: -1px;
        left: -1px;
        padding-top: 7px;

        label {
          padding-left: 7px;
        }
      }
    }

  }
  .plot-container {
    margin-bottom: 4.5rem;
    padding: 10px;
  }
  canvas {
    @include noselect;
  }
  .no-gutters img {
    //width: 170px;
    //width: percentage(1/6);
    width: 100%;
    border: 1px solid transparent;
    padding: 2px;
    margin: 2px 2px 0 0; // &:hover {
    //   border-color: #333;
    // }
  }
  &.goal-indicators {
    .indicator-cards {
      a {
        color: black;
        padding: 1rem; //background: darken(white, 5%);
        display: inline-block;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        height: 100%;
        width: 100%;
        text-decoration: none;
        &:hover {
          background: transparent;
        }
      }
      span {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        padding-bottom: 0.2rem;
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }
    }
  }
  .goal-indicators:after {
    content: "";
    display: table;
    clear: both;
  }
  .nav-tabs {
    .nav-item {
      background: none;
      border: none;
      a {
        border: none;
        &:hover {
          background: none;
        }
      }
      &.active {
        a {
          border: none;
          border-bottom: 2px solid black;
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      padding-top: 1.5rem;
      th {
        width: 35%;
      }
      #datatable {
        overflow-x: auto;
      }
    }
  }
  .danger {
    background-color: #d9534f;
  }
  .warning {
    background-color: #f0ad4e;
  }
  .success {
    background-color: #5cb85c;
  }
  .statuses {
    line-height: 30px;
    height: 30px;
    padding-left: 5px;
    display: none;
  }
  .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
  .status-goal {
    display: none;
  }
  .value {
    color: #777;
    font-weight: bold;
    margin-left: 3px;
  }
  .goal-stats {
    height: 10px;
    //      margin-bottom: 15px;
    & span {
      display: inline-block;
      height: 10px;
      font-weight: bold;
    }
  }
  .divider {
    height: 15px;
    display: none;
  }
  .goal {
    clear: left;
    border: 1px solid #efefef;
    margin-bottom: 4px;
  }
  .frame {
    width: 0;
    float: left;
    min-height: 1px;
  }
  .details {
    width: 100%;
    float: left;
    h3 {
      margin-top: 10px;
    }
  }
  .frame img {
    display: none;
  }
  #back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: lighten($dark-highlight, 10%);
    font-size: 3rem;
    padding: 0.5rem 1.0rem;
    &:hover {
      background: $dark-highlight;
    }
  }
  .fa-info {
    margin-right: 5px;
  }
  .alert a {
    display: inline;
    color: inherit;
    padding: 0;
  }

  h2:first-child {
    margin-top: 0;
  }
}

footer {
  clear: left;
  background-color: #414042;
  color: $footer-color;
  h3 {
    margin-top: 1.5rem;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 0;
      padding: 6px 0 2px 0;
    }
  }
  a {
    color: $footer-color;
    &:hover {
      color: lighten($footer-color, 20%);
    }
  }
  .row:nth-child(1) {
    padding-bottom: 1.5rem;
  }
  .licence {
    border-top: 1px solid #BBBDBF;
    padding: 32px 0 16px 0;
    p {
      display: inline-block;
      margin-left: 16px;
      padding-top: 3px;
    }
  }
}

.post-categories {
  margin: 3px 0;
}

.post-title {
  margin-top: 0;
}

.newslist{
  article {
    p {
      margin: 0;

      &:first { 
        font-size: 90%;
      }
    }

    h5 {
      margin: 3px 0;
      font-size: 120%;
    }

    time {
      margin: 0;
    }

    margin-bottom: 20px;
  }
}