{% assign id = page.indicator | slugify %}
<div id="barchart-{{ id }}" class="ct-chart ct-major-eleventh"></div>
<script>
  (function () {
    var container = '#barchart-{{ id }}'
    var labels = {{ include.labels | jsonify }}
    var row = {{ include.row | jsonify }}

  // Construct array of objects from data using indicators
  var series = row
  var chartData = {
    labels: labels,
    series: [series]
  }
    var chartOpts = {
      low: 0,
      onlyInteger: false,
      horizontalBars: false,
      scaleMinSpace: 30,
      seriesBarDistance: 5,
      axisY: {
        showGrid: true,
        offset: 80,
        labelInterpolationFnc: function (value) {
          // do whatever math operation you want here
          return value + '%';
        }        
      },
      axisX: {
        offset: 20,
        labelInterpolationFnc: function (value) {
          // do whatever math operation you want here
          return value.toString();
        }
      },
      plugins: [
        Chartist.plugins.tooltip({
          class: 'chartist-tooltip',
          tooltipFnc: function(_, value) {
            return value + '%';
          }
        }),
        Chartist.plugins.ctAccessibility({
          caption: {{ row.Indicator | jsonify }},
          seriesHeader: 'dimension',
          summary: {{ row.description | jsonify }},
          valueTransform: Chartist.noop
        })
      ]
    }
  new Chartist.Bar(container, chartData, chartOpts).on('draw', function(data) {
  if(data.type === 'bar') {
    data.element.attr({
      style: 'stroke-width: 50px'
    });
  }
});

  })()
</script>