{% assign id = include.row.Indicator | slugify %}
{% if page.title == 'Top 10 Cities' %} 
<div id="chart-{{ id }}" class="ct-chart ct-major-seventh"></div>{% else %}  
<div id="chart-{{ id }}" class="ct-chart ct-major-eleventh"></div>
{% endif %}
<script>
  (function () {
    var container = '#chart-{{ id }}'
    var labels = {{ include.labels | jsonify }}
    var row = {{ include.row | jsonify }}

    // Construct array of objects from data using indicators
    var series = labels.map(function (col) {
      return row[col] || null
    })
    var chartData = {
      labels: labels,
      series: [series]
    }
    var chartOpts = {
      low: 0,
      onlyInteger: true,
      horizontalBars: true,
      scaleMinSpace: 30,
      seriesBarDistance: 5,
      axisY: {
        showGrid: false,
        offset: 80
      },
      axisX: {
        offset: 20,
        labelInterpolationFnc: function (value) {
          // do whatever math operation you want here
          return Math.floor(value * 100) + '%';
        }
      },
      plugins: [
        Chartist.plugins.tooltip({
          class: 'chartist-tooltip',
          tooltipFnc: function(_, value) {
            return Math.floor(value * 100) + '%';
          }
        }),
        Chartist.plugins.ctAccessibility({
          caption: {{ row.Indicator | jsonify }},
          seriesHeader: 'dimension',
          summary: {{ row.description | jsonify }},
          valueTransform: Chartist.noop
        })
      ]
    }
  new Chartist.Bar(container, chartData, chartOpts)

  })()
</script>