{% unless site.disclaimer.hidden %}
<div class="container">
  <div class="disclaimer-alert">
    <p><strong class="phase-tag">{{ site.disclaimer.phase | default: page.t.header.alpha | t }}</strong>
    Your feedback will help us continue to improve the site. Complete the short survey to share your thoughts.
    {% include components/dev-disclaimer-custom.html %}
    </p> 
    <p>
      <strong>
      Since September 2023 we have <a href="https://www.ons.gov.uk/aboutus/whatwedo/statistics/changestoourpublicationsandactivities">paused</a>
      the uploading of data reported on this site. However, the hyperlinks for the indicator data sources could be used to see where the data is
      published and whether newer data will become available in future. You can also find up to date SDG data on the
      <a href="https://unstats.un.org/sdgs/dataportal/">UN SDG website</a> which reports globally comparable data.
      </strong>
    </p>
  </div>
</div>
{% endunless %}
