<!-- Count the non-empty sources (up to 5) -->
{% assign n_sources = 0 %}
{% for i in (1..5) %}
  {% assign src_active = "source_active_" | append: i %}
  {% if page[src_active] == true %}
    {% assign n_sources  = n_sources | plus: 1 %}
  {% endif %}
{% endfor %}

{% if n_sources > 0 %}
  <h3>Data Source{% if n_sources > 1 %}s{% endif %} Metadata</h3>
  <div class="row no-gutters">
  {% for i in (1..n_sources) %}
   {% assign src_active = "source_active_" | append: i %}
    {% assign src_scope = "source_" | append: i %}
    <div class="col-md-6">
      <h4>Source {{ i }}</h4>
      {% include components/metadata.html scope=src_scope %}
    </div>
    {% endfor %}
  </div>
{% endif %}
