{% if page.graph == 'bar' or page.graph == 'longitudinal' %}
    {% assign graph_type = page.graph %}
    {% if page.graph == 'longitudinal' %}
        {% assign graph_type = 'line' %}
    {% endif %}

    {% assign graph_template = 'components/charts/' | append: graph_type | append: '.html' %}

    <div class="row">
      <div class="col-sm-3">
        <div id="fields"></div>
      </div>
      <div class="col-sm-9" style="height: 400px">
        <div class="plot-container">
            {% include {{graph_template}} data=include.data %}
        </div>
      </div>
    </div>
{% endif %}
