{% assign id = page.indicator | slugify %}
{% assign unit_label = page.variable_unit_label %}
<canvas id='linechart-{{ id }}'></canvas>
<script>

//console.info('charting for: ', {{include.data}});

var chartInfo = chartDataProcessor.getChartInfo({{include.data}}, {
        fill: false,
        lineTension: 0.1,
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: 'rgba(75,192,192,1)',
        pointBackgroundColor: '',
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: 'rgba(75,192,192,1)',
        pointHoverBorderColor: 'rgba(220,220,220,1)',
        pointHoverBorderWidth: 2,
        pointRadius: 5,
        pointHitRadius: 10,
        spanGaps: false
    }),
    chartInstance = new Chart(document.getElementById('linechart-{{ id }}'), {
    type: 'line',
    data: chartInfo,
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
              gridLines: {
                  color: '#ccc',
              }
          }],
          yAxes: [{
            ticks: {
                suggestedMin: 0
            }
          }]
        },
        legend: {
          display: false
       },
    }
});
</script>
