{% assign id = page.indicator | slugify %}
{% assign unit_label = page.variable_unit_label %}
<!--<div id="series">
  <select>
    <option value="">All</option>
  </select>
</div>-->

<div id="fields">

</div>

<canvas id='linechart-{{ id }}'></canvas>
<script>

var chartInstance;
var datasetObject = {
    fill: false,
    lineTension: 0.1,
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: 'rgba(75,192,192,1)',
    pointBackgroundColor: '',
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: 'rgba(75,192,192,1)',
    pointHoverBorderColor: 'rgba(220,220,220,1)',
    pointHoverBorderWidth: 2,
    pointRadius: 5,
    pointHitRadius: 10,
    spanGaps: false
};
var data = {{include.data}};

////////////////////////////////////////////////////////////////////////////////////////////////

function createPlot(chartInfo) {

  if(chartInstance) {
    chartInstance.destroy();
  }

  chartInstance = new Chart(document.getElementById('linechart-{{ id }}'), {
    type: 'line',
    data: chartInfo,
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
              gridLines: {
                  color: '#ccc',
              }
          }],
          yAxes: [{
            ticks: {
                suggestedMin: 0
            }
          }]
        },
        legend: {
          display: true
        }
    }
  });
}

function createTables(chartInfo, options) {

  options = options || {};
  var csv_path = options.csv_path,
      el = options.element || '#datatables',
      allow_download = options.allow_download || false,
      csv_options = options.csv_options || {separator: ',', delimiter: '"'},
      datatables_options = options.datatables_options || { paging: false, bInfo: false, searching: false},
      table_class = options.table_class || 'table table-hover';

  // clear:
  $(el).html('');

  // loop through chartInfo.
  chartInfo.tables.forEach(function(tableData, index) {

    $(el).append($('<h3 />').text(tableData.title));

    var currentId = 'indicatortable' + index;

    var currentTable = $('<table />').attr({
      'class': 'table-responsive ' + table_class,
      'id' : currentId
    });

    $(el).append(currentTable);

    var table_head = '<thead><tr>';

    tableData.headings.forEach(function(heading) {
      table_head += '<th>' + heading + '</th>';
    });

    table_head += '</tr></thead>';
    currentTable.append(table_head);
    currentTable.append('<tbody></tbody>');

    tableData.data.forEach(function(data) {
      var row_html = '<tr>';
      tableData.headings.forEach(function(heading) {
        row_html += '<td>' + data[heading] + '</td>';
      });
      row_html += '</tr>';
      currentTable.find('tbody').append(row_html);
    });

    currentTable.DataTable(datatables_options);
  });
}

$(function() {
  // initially, get overall:
  var dm = new dataManager(data, datasetObject);
  var chartInfo = dm.getData(null);

  createPlot(chartInfo);
  createTables(chartInfo);

  ////////////////////////////////////////////////////////////////////////////////////////////////
  // var $seriesSelect = $('#series select');

  // $seriesSelect.on('change', function() {
  //   var seriesType = $(this).find('option:selected').val();
  //   var chartInfo = dm.getData(seriesType ? ['Grade', 'Planet'] /*seriesType*/ : null);
  //   createPlot(chartInfo);
  //   createTables(chartInfo);
  // });

  var fieldLimit = 2;
  $('body').on('click', 'input:checkbox', function() {
    if($('#fields :checked').length === fieldLimit) {
      var selector = $('#fields input:not(:checked)');
      selector.attr('disabled', true);
      selector.parent().addClass('disabled');
    } else {
      var selector = $('#fields input');
      selector.removeAttr('disabled');
      selector.parent().removeClass('disabled');
    }

    var selectedFields = [];

    $('#fields input:checked').each(function(i, field) {
      selectedFields.push($(field).val());
    });

    var chartInfo = dm.getData(selectedFields.length ? selectedFields : null);
    createPlot(chartInfo);
    createTables(chartInfo);
  });

  dm.getSeriesLabels(data).forEach(function(series) {
    $('#fields').append($('<label/>').text(series).append($('<input/>')
      .attr({
        'type': 'checkbox',
        'value': series,
      })));
  });

});

</script>
