.panel {
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.2em 0.7em;
  margin-bottom: 0.78947em;
}

h2.govuk-heading-s {
	font-size: 22px;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
}

.panel-border-wide {
  border-left-width: 10px;
}

.panel-border-wide.alert-warning {
  border-color: #c42b2b !default;
  background-color: #f3dede !default;
}
