{% include head.html %}
{% include header.html %}
<div id="main-content" class="container goal-tiles" role="main">

    <h1>{{site.country.name}} data for Sustainable Development Goal indicators</h1>

    <p>Click on each goal<span style="display:none" id="jump-to-search">, <a href="javascript:void(0)">or search</a>,</span> for {{site.country.name}} statistics for Sustainable Development Goal global indicators.</p>
    {% for goal in site.goals %}
        {% cycle 'add row' : '<div class="row no-gutters">', '', '', '', '', '' %}
            <div class="col-xs-4 col-md-2">
                <a href="./{{ goal.short | slugify }}/">
                  <img src="{{ site.baseurl }}/assets/img/goals/{{ goal.sdg_goal }}.png" id="goal-{{ goal.sdg_goal }}" alt="{{ goal.short }} - Goal {{ goal.sdg_goal }}" />
              </a>
            </div>
        {% cycle 'end row' : '', '', '', '', '', '</div>' %}
    {% endfor %}
        <div class="col-xs-4 col-md-2">
            <img src="{{ site.baseurl }}/assets/img/goals/18.png" id="goal-18" alt="The Global Goals for Sustainable Development" />
        </div>
    </div>
</div>
{% include footer.html %}
