{% include head.html %}
{% include header.html %}
<div id="main-content" class="container" role="main">
    <h1>UK National Statistics for the UN Sustainable Development Goals</h1>
    <div>
        <h3>About</h3>
        <p>This is the official website of the Portland bushwick salvia humblebrag, pour-over nostrud try-hard occaecat. 3 wolf moon taxidermy ad heirloom banh mi. Celiac succulents odio vero literally, nihil chartreuse knausgaard craft beer laboris mustache lyft raw denim gochujang. Adipisicing quinoa kitsch copper mug health goth, normcore sed skateboard drinking vinegar. Tofu assumenda paleo, whatever trust fund lyft mixtape est chambray typewriter roof party.</p>
    </div>
    <section>
        <p>Click on each goal for UK national statistics for Sustainable Development Goal global indicators.</p>
        {% assign sdg_goals = site.data.sdg_goals %}
        {% for goals in sdg_goals %}
            {% assign img_path = goals.goal | plus:0 %}
            {% if img_path < 10 %}
                {% assign img_path = 0  %}
            {% else %}
                {% assign img_path = ''  %}
            {% endif %}
            <a href="./{{ goals.short | slugify }}/"><img src="{{ site.baseurl }}/assets/img/goals/{{ goals.goal }}.png" alt="icon for Goal {{ goals.goal }} - {{ goals.title }}" /></a>
        {% endfor %}
        <img src="{{ site.baseurl }}/assets/img/goals/18.png" alt="icon for Global Goals" />
    </section>
    <a href="#">Return to top</a>
</div>
{% include footer.html %}