{% include head.html %}
{% include header.html %}
<div id="main-content" class="container" role="main">
    <h1>UK National Statistics for the UN Sustainable Development Goals</h1>
    <p>This is the official website of the Portland bushwick salvia humblebrag, pour-over nostrud try-hard occaecat. 3 wolf moon taxidermy ad heirloom banh mi. Celiac succulents odio vero literally, nihil chartreuse knausgaard craft beer laboris mustache lyft raw denim gochujang. Adipisicing quinoa kitsch copper mug health goth, normcore sed skateboard drinking vinegar. Tofu assumenda paleo, whatever trust fund lyft mixtape est chambray typewriter roof party.</p>
    <p>Click on each goal for UK national statistics for Sustainable Development Goal global indicators.</p>
    {% assign sdg_goals = site.data.sdg_goals %}

    {% for goal in sdg_goals %}
        {% cycle 'add row' : '<div class="row no-gutters">', nil, nil, nil %}
            <div class="col-sm-3">
                <a href="./{{ goal.short | slugify }}/"><img src="{{ site.baseurl }}/assets/img/goals/{{ goal.goal }}.png" alt="icon for Goal {{ goal.goal }} - {{ goal.title }}" /></a>
            </div>
        {% cycle 'end row' : nil, nil, nil, '</div>' %}
    {% endfor %}
    {% cycle 'end row' : nil, '</div>', '</div>', '</div>' %}
    
    <a href="#" class="to-top">Return to top</a>
</div>
{% include footer.html %}