{% include head.html %}
{% include header.html %}

<div class="heading goal-{{page.sdg_goal}}">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <img src="{{ site.baseurl }}/assets/img/goals/{{ page.sdg_goal }}.png" alt="icon for Goal {{ page.sdg_goal }}" />
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h2>
        {% assign sdg_goals = site.data.sdg_goals %}
        {% for goals in sdg_goals %}
          {% assign page_goal_num = page.sdg_goal | plus:0 %}
          {% assign goals_goal_num = goals.goal | plus:0 %}
        {% if page_goal_num == goals_goal_num %}
          {% assign found_goal = goals %}

          <span class="hidden-sm hidden-md hidden-lg">Goal {{page_goal_num}}: </span>{{ goals.title }}
          {% endif %}
        {% endfor %}
        </h2>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-indicators goal-{{page.sdg_goal}}">

  {{ content }}

  {% capture goal_title %}{{ found_goal.title }}{% endcapture %}
  {% capture goal_number %}{{ found_goal.goal }}{% endcapture %}
  {% include components/breadcrumb.html %}

  {% assign indicators = site.data.sdg_indicator_metadata | where:'goal', page.sdg_goal %}
  {% for indicator in indicators %}
    {% cycle 'add row' : '<div class="indicator-cards row no-gutters">', '', '', '' %}
        <div class="col-md-6 col-lg-3">
            <a href="{{ site.baseurl }}/{{ indicator.indicator_id | replace: '.', '-' }}"><span>{{ indicator.indicator_id }}</span> {{ indicator.indicator }}</a>
        </div>
    {% cycle 'end row' : '', '', '', '</div>' %}
    {% endfor %}
  </div>
</div>

{% include footer.html %}
