{% include head.html %} 
{% include header.html %} 
{% assign goal = site.data.sdg_goals | where: "goal", page.sdg_goal | first %} 
{% capture goal_uri %}{{ site.baseurl }}/{{ goal.short | slugify }}{% endcapture %}

{% include components/fields-template.html %}

<div class="heading indicator goal-{{page.sdg_goal}}">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <a href="{{ goal_uri }}" title="View this goal's indicator list">
          <img src="{{ site.baseurl }}/assets/img/goals/{{ page.sdg_goal }}.png" alt="icon for Goal {{ page.sdg_goal }}" />
        </a>
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h2>
          <a href="{{ goal_uri }}">
            <span class="hidden-sm hidden-md hidden-lg">Goal {{page.sdg_goal}}: </span>{{ goal.title }}
          </a>
        </h2>
        <h3>Indicator {{ page.indicator }}: {{ page.title }}</h3>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-{{page.sdg_goal}}">

  {% capture goal_href %}{{ goal_uri }}{% endcapture %} 
  {% capture goal_number %}{{ goal.goal }}{% endcapture %} 
  {% capture goal_title %}{{ goal.title }}{% endcapture %} 
  {% capture indicator_title %}{{ page.title }}{% endcapture %} 

  {% capture dataset_name %}indicator_{{page.indicator | slugify }}{% endcapture %} 
  {% assign sdg_indicator_data = site.data[dataset_name] %} 
  {% assign indicator_metadata = sdg_indicators | where: "indicator_id", page.indicator | first %} 
  {% assign json_data = sdg_indicator_data | jsonify %} 
  
  {% include components/breadcrumb.html %}
  {{ page.content }}

  <section id="indicatorData" data-indicatordata='{{json_data}}' data-indicatorid='{{dataset_name}}' data-country="{{ site.country.name }}"
    data-charttitle="{{ page.graph_title }}" data-measurementunit="{{ page.computation_units }}" data-datasource="{{ page.source_organisation_1 }}" data-geographicalarea="{{ page.national_geographical_coverage }}">
    {% include components/charts/chart.html graph_type=page.graph_type data=json_data %}

    <div class="alert alert-warning" role="alert">
      <i class="fa fa-info" aria-hidden="true"></i> See metadata tab for sources, definitions, and methodology information
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item active">
        <a class="nav-link" data-toggle="tab" href="#data" aria-controls="data" role="tab">Data</a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#metadata" aria-controls="metadata" role="tab">Metadata</a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#sources" aria-controls="sources" role="tab">Sources</a>
      </li>
      {% if site.github.environment == 'dotcom' %}
        <li role="presentation" class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#edit" aria-controls="edit" role="tab">Edit</a>
        </li>
      {% endif %}
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="data">
        {% if page.graph_title.size > 0 %}
          <h3>{{ page.graph_title }}</h3>
        {% endif %}
        <p>Unit of Measurement: {{ page.computation_units }}</p>     
        <a href="{{ site.baseurl }}/data/{{ dataset_name }}.csv" class="btn btn-primary btn-download">Download source CSV</a>
        <div id="datatables"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="metadata">
        <!-- National Metadata -->
        <div class="collapsible expanded">
          <h3>National Metadata<span> (Collapse)</span></h3>
          <article>
            <p>This table provides metadata for the actual indicator available from {{ site.country.name }} statistics closest to the corresponding global
                SDG indicator. Please note that even when the global SDG indicator is fully available from {{ site.country.adjective }} statistics, this table
                should be consulted for information on national methodology and other {{ site.country.adjective }}-specific metadata information.</p>
              {% include components/metadata.html scope='national' %}
          </article>
        </div>
        <!-- Method of Computation -->
        <div class="collapsible collapsed">
          <h3>How the {{ site.country.name }} Indicator is Calculated<span> (Expand)</span></h3>
          <article>
            {% include components/metadata.html scope='computation' %}
          </article>
        </div>
        <!-- Global Metadata -->
        <div class="collapsible collapsed">
          <h3>Global Metadata<span> (Expand)</span></h3>
          <article>
            <p>This table provides information on metadata for SDG indicators as defined by the UN Statistical Commission. Complete global <a href="{{ page['goal_meta_link'] }}">metadata</a> is provided by the UN Statistics Division.</p>
            {% include components/metadata.html scope='global' %}
          </article>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="sources">
        {% include components/sources.html %}
      </div>
      {% if site.github.environment == 'dotcom' %}
      <div role="tabpanel" class="tab-pane" id="edit">
        <div class="edit-container">
          <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/data/indicator_{{ page.indicator | slugify }}.csv">Edit Data</a>
          <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/_indicators/{{ page.indicator | slugify }}.md">Edit Metadata</a>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
</div>
{% include footer.html %}
