{% include head.html %}
{% include header.html %}
<div id="main-content" class="container">
  <section>
    <h2>
    {% assign sdg_goals = site.data.sdg_goals %}
    {% for goals in sdg_goals %}
      {% assign page_goal_num = page.sdg_goal | plus:0 %}
      {% assign goals_goal_num = goals.goal | plus:0 %}
      {% if page_goal_num == goals_goal_num %}
        <a href="{{ site.baseurl }}/{{ goals.short | slugify }}">
          Goal {{ goals.goal }} - {{ goals.title }}
        </a>
      {% endif %}
    {% endfor %}
    </h2>
    {% assign slug = page.indicator | replace: '.', '-' %}
    {% assign dataset_name = 'indicator_' | append: slug %}
    {% assign sdg_goals = site.data.sdg_goals %}
    {% assign sdg_indicators = site.data.sdg_indicator_metadata %}
    {% assign sdg_indicator = site.data[dataset_name] %}
    {% for indicators in sdg_indicators %}
      {% if indicators.indicator_id == page.indicator %}
        {% assign this_sdg_indicator_metadata = indicators %}
      {% endif %}
    {% endfor %}
    {% assign indicator_title = this_sdg_indicator_metadata.indicator %}
    {% assign array = "" | split: ""  %}
    {% assign row = array %}
    {% assign labels = array %}
    {% for indicator in sdg_indicator %}
      {% assign row = row | push: indicator[page.indicator_variable] %}
      {% assign labels = labels | push: indicator.year %}
    {% endfor %}

    <img src="{{ site.baseurl }}/assets/img/goals/{{ page_goal_num }}.png" alt="icon for Goal {{ goals.goal }} - {{ goals.title }}" />

    <h3>Indicator {{ page.indicator }} - {{ indicator_title }}</h3>
    {% if page.graph == 'bar' or page.graph == 'longitudinal' %}
      {% assign graph_type = page.graph %}
      {% if page.graph == 'longitudinal' %}
        {% assign graph_type = 'line' %}
      {% endif %}
      {% assign graph_template = 'components/' | append: graph_type | append: '.html' %}
      <h4>{{ page.graph_title }}</h4>
      {% include {{graph_template}} row=row labels=labels %}
    {% endif %}

    {{ page.content }}
  <aside id="secondary" class="related plm-mu"><h4>See metadata tab for sources, definitions, and methodology information</h4></aside>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#data" role="tab">Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#metadata" role="tab">Metadata</a>
    </li>
    {% if site.github.environment == 'dotcom' %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#edit" role="tab">Edit</a>
      </li>
    {% endif %}
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="data">
      <div class="datatable-container">
        <h4>{{ page.graph_title }}</h4>
        <div id="datatable"></div>
        <a href="{{ site.baseurl }}/data/{{ dataset_name }}.csv">Download CSV</a>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="metadata">
      <div class="metadata-table">
        <h2>Global Metadata</h2>
        <p class="metadata-notes">
          This table provides information on metadata for SDG indicators as defined by the UNSC. Complete global <a href="{{ this_sdg_indicator_metadata.goal_meta_link }}">metadata documentation on all indicators in Goal {{ page_goal_num }}</a> is provided by the UN Statistics Division.
        </p>
        <table>
          {% for indicator_metadata in site.prose.metadata._indicators %}
            {% if indicator_metadata.field.scope == "global" %}
              <tr>
                <th>  {{ indicator_metadata.field.label }} </th>
                <td>  {{ page[indicator_metadata.name] }} </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        {% comment %}
        <h2>U.S. Metadata</h2>
        <p class="metadata-notes">
          This table provides metadata for the actual indicator available from U.S. statistics closest to the corresponding global
          SDG indicator. Please note that even when the global SDG indicator is fully available from U.S. statistics, this table
          should be consulted for information on national methodology and other US-specific metadata information
        </p>
        <table>
          {% for indicator_metadata in site.prose.metadata._indicators %}
            {% if indicator_metadata.field.scope != "global" %}
              <tr>
                <th>  {{ indicator_metadata.field.label }} </th>
                <td>  {{ page[indicator_metadata.name] }} </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      {% endcomment %}
    </div>
  </div>
  {% if site.github.environment == 'dotcom' %}
    <div role="tabpanel" class="tab-pane" id="edit">
      <div class="edit-container">
        <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/data/indicator_{{ page.indicator | slugify }}.csv">Edit Data</a>
        <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/_indicators/{{ page.indicator | slugify }}.md">Edit Metadata</a>
      </div>
    </div>
  {% endif %}
</div>
<!-- / Tab panes -->
<a href="#">Return to top</a>
</section>
</div>
{% include scripts.html %}
<script>
init_table({
csv_path: '../data/{{ dataset_name }}.csv',
element: 'datatable',
allow_download: false,
csv_options: {separator: ',', delimiter: '"'},
datatables_options: {"paging": false, "bInfo" : false, "searching": false}
});
</script>
{% include footer.html %}