{% include head.html %}
{% include header.html %}

<div class="heading goal-{{page.sdg_goal}}">
  <div class="container">
    <a href="{{ site.baseurl }}/{{ goals.short | slugify }}" title="View this goal's indicator list">
      <img src="{{ site.baseurl }}/assets/img/goals/{{ page.sdg_goal }}.png" alt="icon for Goal {{ page.sdg_goal }} - {{ page.title }}" />
    </a>
    <div>
      <h2>
      {% assign sdg_goals = site.data.sdg_goals %}
      {% for goals in sdg_goals %}
        {% assign page_goal_num = page.sdg_goal | plus:0 %}
        {% assign goals_goal_num = goals.goal | plus:0 %}
        {% if page_goal_num == goals_goal_num %}
          <a href="{{ site.baseurl }}/{{ goals.short | slugify }}">
            {{ goals.title }}
          </a>
        {% endif %}
      {% endfor %}
      </h2>  
      <h3>Indicator {{ page.indicator }} - {{ page.title }}</h3>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-{{page.sdg_goal}}">

  

  <section>
    {% assign slug = page.indicator | replace: '.', '-' %}
    {% assign dataset_name = 'indicator_' | append: slug %}
    {% assign sdg_goals = site.data.sdg_goals %}
    {% assign sdg_indicators = site.data.sdg_indicator_metadata %}
    {% assign sdg_indicator = site.data[dataset_name] %}
    {% for indicators in sdg_indicators %}
      {% if indicators.indicator_id == page.indicator %}
        {% assign this_sdg_indicator_metadata = indicators %}
      {% endif %}
    {% endfor %}
    {% assign indicator_title = this_sdg_indicator_metadata.indicator %}
    {% assign array = "" | split: ""  %}
    {% assign row = array %}
    {% assign labels = array %}
    {% for indicator in sdg_indicator %}
      {% assign row = row | push: indicator[page.indicator_variable] %}
      {% assign labels = labels | push: indicator.year %}
    {% endfor %}

    {% if page.graph == 'bar' or page.graph == 'longitudinal' %}
      {% assign graph_type = page.graph %}
      {% if page.graph == 'longitudinal' %}
        {% assign graph_type = 'line' %}
      {% endif %}
      {% assign graph_template = 'components/' | append: graph_type | append: '.html' %}
      <h4>{{ page.graph_title }}</h4>
      {% include {{graph_template}} row=row labels=labels %}
    {% endif %}

    {{ page.content }}


    <div class="alert alert-warning" role="alert">
      <i class="fa fa-info" aria-hidden="true"></i> See metadata tab for sources, definitions, and methodology information
    </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#data" role="tab">Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#metadata" role="tab">Metadata</a>
    </li>
    {% if site.github.environment == 'dotcom' %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#edit" role="tab">Edit</a>
      </li>
    {% endif %}
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="data">
      <h4>{{ page.graph_title }}</h4>
      <div id="datatable"></div>
      <a href="{{ site.baseurl }}/data/{{ dataset_name }}.csv" class="btn btn-primary download-csv">Download CSV</a>
    </div>
    <div role="tabpanel" class="tab-pane" id="metadata">
      <h2>Global Metadata</h2>
      <p>
        This table provides information on metadata for SDG indicators as defined by the UNSC. Complete global <a href="{{ this_sdg_indicator_metadata.goal_meta_link }}">metadata documentation on all indicators in Goal {{ page_goal_num }}</a> is provided by the UN Statistics Division.
      </p>
      <table class="table table-hover">
        {% for indicator_metadata in site.prose.metadata._indicators %}
          {% if indicator_metadata.field.scope == "global" %}
            <tr>
              <th scope="row">  {{ indicator_metadata.field.label }} </th>
              <td>{{ page[indicator_metadata.name] }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
      {% comment %}
      <h2>U.S. Metadata</h2>
      <p>
        This table provides metadata for the actual indicator available from U.S. statistics closest to the corresponding global
        SDG indicator. Please note that even when the global SDG indicator is fully available from U.S. statistics, this table
        should be consulted for information on national methodology and other US-specific metadata information
      </p>
      <table>
        {% for indicator_metadata in site.prose.metadata._indicators %}
          {% if indicator_metadata.field.scope != "global" %}
            <tr>
              <th>{{ indicator_metadata.field.label }}</th>
              <td>{{ page[indicator_metadata.name] }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endcomment %}
  </div>
  {% if site.github.environment == 'dotcom' %}
    <div role="tabpanel" class="tab-pane" id="edit">
      <div class="edit-container">
        <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/data/indicator_{{ page.indicator | slugify }}.csv">Edit Data</a>
        <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/_indicators/{{ page.indicator | slugify }}.md">Edit Metadata</a>
      </div>
    </div>
  {% endif %}
</div>
<!-- / Tab panes -->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-arrow-circle-o-up
"></span></a>

</section>
</div>
{% include scripts.html %}
<script>
  init_table({
    csv_path: '../data/{{ dataset_name }}.csv',
    element: 'datatable',
    allow_download: false
});
</script>
{% include footer.html %}