{% include head.html %}

{% include header.html %}


        <div id="main" class="main-content" role="main">            
            
            <section class="usa-banner banner-small">
                <div class="usa-grid">

                    <div class="usa-banner-content">
                        <h1>
                            {{ page.title }}
                        </h1>
                        <h2 class="usa-font-lead">
                        </h2>
                    </div>

                </div>
            </section> 

             <div class="usa-grid">
                {{ content }}
            </div>

            <div class="usa-grid">

                {% for initiative in site.initiatives %}

                <a href="/{{ initiative.permalink }}" class="usa-width-one-third initiative-block">
                    <h3>{{ initiative.title }}</h3>
                </a>

                {% cycle '', '', '</div><div class="usa-grid">' %}

                {% endfor %}
              
            </div>

        </div>

{% include footer.html %}
