{% include head.html %}
{% include header.html %}
<div id="main-content" class="container reportingstatus" data-url="{{ site.baseurl }}/indicators.json">

  <h1>Reporting Status</h1>

  {% assign goal_indicators = site.data.meta %}
  {% assign overall_indicator_count = goal_indicators | size %}
  {% assign exploring_count = goal_indicators | where: 'reporting_status', 'notstarted' | size %}
  {% assign in_progress_count = goal_indicators | where: 'reporting_status', 'inprogress' | size %}
  {% assign complete_count = goal_indicators | where: 'reporting_status', 'complete' | size %}

  <div class="goal goal-overall" data-goalid="{{ goal.goal }}">
      <div class="details">
        <h2 class="status-goal">
          Overall Reporting Status <span class="total"><span>{{ overall_indicator_count }}</span> indicators</span> 
        </h2>
        <div class="summary">
          <div class="statuses">
            <div>
              <span class="status success">{{ complete_count }}</span><strong>Reported online</strong><span class="value"></span>
            </div>
            <div>
              <span class="status warning">{{ in_progress_count }}</span><strong>Statistics in progress</strong><span class="value"></span>
            </div>
            <div>
              <span class="status danger">{{ exploring_count }}</span><strong>Exploring data sources</strong><span class="value"></span>
            </div>
            <br style="clear:both;" />
          </div>
        </div>
        <div class="goal-stats">
          <!-- please keep this 'funky' markup; it has an impact on the display of the bar components -->
          <span class="success"></span
          ><span class="warning"></span
          ><span class="danger"></span>
        </div>
      </div>
    <!--</li>-->
    <br style="clear:both;" />
  </div>
  
  <h2>Status by Goal</h2>

      {% for goal in site.goals %}      
        {% assign goal_indicators = site.data.meta | where: 'sdg_goal', goal.sdg_goal %}
        {% assign goal_indicator_count = goal_indicators | size %}
        {% assign exploring_count = goal_indicators | where: 'reporting_status', 'notstarted' | size %}
        {% assign in_progress_count = goal_indicators | where: 'reporting_status', 'inprogress' | size %}
        {% assign complete_count = goal_indicators | where: 'reporting_status', 'complete' | size %}

        <!--<li>-->
        <div class="goal" data-goalid="{{ goal.sdg_goal }}">
          <div class="frame">
            <a href="{{ site.baseurl }}/{{ goal.short | slugify }}/">
              <img src="{{ site.baseurl }}/assets/img/goals/{{ goal.sdg_goal }}.png" alt="{{ goal.short }} - Goal {{ goal.sdg_goal }}" width="100" height="100" />
            </a>
          </div>
          <div class="details">
            <h3 class="status-goal">
              <a href="{{ site.baseurl }}/{{ goal.short | slugify }}/">{{ goal.short }}</a>
              <span class="total">{{ goal_indicators | size }}<span></span> indicators</span> 
            </h3>
            <div class="summary">
              <div class="statuses">
                <div>
                  <span class="status success">{{ complete_count }}</span><strong>Reported online</strong><span class="value"></span>
                </div>
                <div>
                  <span class="status warning">{{ in_progress_count }}</span><strong>Statistics in progress</strong><span class="value"></span>
                </div>
                <div>
                  <span class="status danger">{{ exploring_count }}</span><strong>Exploring data sources</strong><span class="value"></span>
                </div>
                <br style="clear:both;" />
              </div>
            </div>
            <div class="goal-stats">
              <!-- please keep this 'funky' markup; it has an impact on the display of the bar components -->
              <span class="success"></span
              ><span class="warning"></span
              ><span class="danger"></span>
            </div>
            <div class="divider">
            </div>
          </div>
        <!--</li>-->
        <br style="clear:both;" />
      </div>
      {% endfor %}
    <!--</ul>-->

  <!--{{ content }}-->


</div>
{% include footer.html %}
