{% include head.html %}
{% include header.html %}
<div id="main-content" class="container reportingstatus">
  {% include components/dev-disclaimer.html %}

  {% assign sdg_goals = site.data.sdg_goals %}
    <!--<ul style="list-style-type: decimal; margin-left: 50px;margin-bottom: 30px;margin-top:30px;">-->
      {% for goal in sdg_goals %}
        <!--<li>-->
        <div class="goal">
          <div class="frame">
            <img src="{{ site.baseurl }}/assets/img/goals/{{ goal.goal }}.png" alt="icon for Goal {{ goal.goal }} - {{ goal.title }}" width="100" height="100" />
          </div>
          <div class="details">
            <h3 class="status-goal">{{ goal.short }}</h3>
            <div class="summary">
              <div class="statuses">
              <span class="status success"></span><strong>Reported online</strong><span class="value"></span>
              <span class="status warning"></span><strong>Statistics in progress</strong><span class="value"></span>
              <span class="status danger"></span><strong>Exploring data sources</strong><span class="value"></span>
              </div>
            </div>
            <div class="goal-stats">
              <!-- please keep this 'funky' markup; it has an impact on the display of the bar components -->
              <span class="success"></span
              ><span class="warning"></span
              ><span class="danger"></span>
            </div>
            <div class="divider">
            </div>
          </div>
        <!--</li>-->
        <br style="clear:both;" />
      </div>
      {% endfor %}
    <!--</ul>-->

  <!--{{ content }}-->


</div>
{% include footer.html %}
