{% include head.html %}
{% include header.html %}

<div id="main-content" class="container">
  <h1>{{ page.title | t }}</h1>
  {{ content }}

  {% assign indicator_objects = '' | split: ',' %}
  {% for indicator_number in page.standalone_indicators %}
    {% assign indicator = indicator_number | sdg_lookup %}
    {% if indicator and indicator.sort %}
      {% assign indicator_objects = indicator_objects | push: indicator %}
    {% endif %}
  {% endfor %}
  {% assign indicator_objects = indicator_objects | sort: 'sort' %}
  {% for indicator in indicator_objects %}

  <div class="row mb-3">
    <div class="col-1 ps-5">
      <h4>
        <span class="indicator-number"><span class="visually-hidden">{{ page.t.general.indicator }}</span> {{ indicator.indicator_number }}</span>
      </h4>
    </div>
    <div class="col-8">
      <span class="indicator-name"><a href="{{ indicator.url }}">{{ indicator.name }}</a> ({{ indicator.archive_type }})</span>
    </div>
    <div class="col-12 col-md-2 ms-auto text-end text-nowrap">
      <span class="visually-hidden">{{ page.t.indicator.status }}</span>
      {% include components/reportingstatus/reporting-status-label.html indicator=indicator %}
    </div>
  </div>
  {% endfor %}
</div>

{% include footer.html %}
