{% if page.indicator.progress_status and page.indicator.progress_status != '' %}
{% assign progress_status = site.progress_status.status_types | where: 'value', include.indicator.progress_status | first %}
    {% if progress_status %}
        <div class="progress-status">
        {% if progress_status.label and ['target_achieved', 'close_to_target', 'moderate_distance_to_target','far_from_target', 'very_far_from_target'].includes(progress_status.label) %}
            <div class="row indicator-progress">
                <img src="/assets/img/progress/embed-test.png">
            </div>
        {% endif %}
        <div>
     {% endif %}
{% endif %}
